<div ng-controller="businessManagement.clientRelationships.contacts.form">
  <div class="container-fluid">
    <h3 ng-if="mode == 'edit'">Edit contact : <strong>{{form.name}}</strong></h3>
    <h3 ng-if="mode == 'new'">Create a new contact</h3>
  </div>

  <div class="container-fluid">

    <div class="col-md-6">
      <div class="row">
        <div class="col-md-10">
          <div class="form-group" style="margin-top:20px;">

            <label style="margin-top:-20px;">Mrs.</label> <switch ng-model="form.male" class="neutral"></switch> <label style="margin-top:-20px;">Mr.</label>
          </div>

          <div class="form-group" style="margin-top:20px;">
            <label>Full Name</label>
            <input type="text" class="form-control" ng-model="form.name">
          </div>

        </div>

        <div class="col-md-2" style="top:y 40px;">
          <img ng-if="form.dp[0] != 'h'" style="width: 100%;" class="img img-circle" ng-src="/static/images/img_avatar_card{{form.male? '':'2'}}.png" >
          <img ng-if="form.dp[0] == 'h'" style="width: 100%;" class="img img-circle" ng-src="{{form.dp}}" >
        </div>
      </div>

      <div class="form-group">
        <label>Email</label>
        <input type="text " class="form-control" ng-model="form.email">
      </div>

      <div class="form-group">
        <label>Mobile</label>
        <input type="text " class="form-control" ng-model="form.mobile">
      </div>

      <div class="form-group">
        <label>Company</label>
        <div class="{{(showCreateCompanyBtn || companyExist) && !showCompanyForm ? 'input-group':''}}">
            <input uib-typeahead="company as company.name for company in companySearch($viewValue)" ng-model="form.company" type="text" class="form-control" placeholder="Search using name">
            <span ng-click="createCompany()" ng-if="(showCreateCompanyBtn || companyExist) && !showCompanyForm" class="input-group-addon btn btn-primary" ><i class="fa fa-{{!companyExist ? 'plus':'pencil'}}"></i> {{ !companyExist?  'New':'Update'}}</span>
        </div>
        <p ng-if="showCreateCompanyBtn && !companyExist" class="help-block">No company with this name exist!. Click <span class="badge">new</span> to create.</p>
      </div>

      <div style="cursor:pointer;margin:20px;" ng-click="contactAdvanceOptions = !contactAdvanceOptions">
        <div class="text-primary">
          <i class="fa fa-lg fa-sort-{{contactAdvanceOptions? 'up':'desc'}}" style="margin-right:20px;"></i>  Show advance options
        </div>
      </div>


      <div ng-if="contactAdvanceOptions" class="animated fadeIn">
        <div class="form-group">
          <label>Mobile (Secondary)</label>
          <input type="text " class="form-control" ng-model="form.mobileSecondary">
        </div>
        <div class="form-group">
          <label>Email (Secondary)</label>
          <input type="text " class="form-control" ng-model="form.emailSecondary">
        </div>

        <div class="form-group">
          <label>Designation</label>
          <input type="text " class="form-control" ng-model="form.designation">
        </div>
        <div class="form-group">
          <label>Notes</label>
          <textarea class="form-control" rows="8" ng-model="form.notes"></textarea>
        </div>
        <div class="form-group">
          <label>LinkedIn</label>
          <input type="text " class="form-control" ng-model="form.linkedin">
        </div>
        <div class="form-group">
          <label>Facebook</label>
          <input type="text " class="form-control" ng-model="form.facebook">
        </div>

        <div class="form-group">
          <label>DP</label>
          <input type="file" file-model="form.dp" >
        </div>
      </div>

        <div class="btn-group pull-right">
          <button type="button" class="btn btn-default" ng-click="resetForm()">
            Reset
          </button>
          <button type="button" class="btn btn-primary pull-right" ng-click="createContact()" >Save</button>
        </div>

    </div>
    <div class="col-md-6" ng-if="showCompanyForm">
      <h4>Company Details (Optional)</h4>

      <div class="form-group">
        <label>Telephone</label>
        <input type="text " class="form-control" ng-model="form.company.telephone">
      </div>

      <div class="form-group">
        <label>About</label>
        <textarea class="form-control" rows="8" ng-model="form.company.about"></textarea>
      </div>

      <div style="cursor:pointer;margin:20px;" ng-click="companyAdvanceOptions = !companyAdvanceOptions">
        <div class="text-primary">
          <i class="fa fa-lg fa-sort-{{companyAdvanceOptions? 'up':'desc'}}" style="margin-right:20px;"></i>  Show advance options
        </div>
      </div>

      <div ng-if="companyAdvanceOptions" class="animated fadeIn">
        <div class="form-group">
          <label>Mobile</label>
          <input type="text " class="form-control" ng-model="form.company.mobile">
        </div>

        <div class="form-group">
          <label>Address</label>
          <input placeholder="Street" type="text " class="form-control" ng-model="form.company.address.street">
          <div class="row" style="margin-top:5px;">
            <div class=" col-md-6">
              <input placeholder="City" type="text " class="form-control" ng-model="form.company.address.city">
            </div>
            <div class="col-md-6">
              <input placeholder="State" type="text " class="form-control" ng-model="form.company.address.state">
            </div>

          </div>
          <div class="row" style="margin-top:5px;">
            <div class=" col-md-6">
              <input placeholder="pincode" type="text " class="form-control" ng-model="form.company.address.pincode">
            </div>
            <div class="col-md-6">
              <input placeholder="Country" type="text " class="form-control" ng-model="form.company.address.country">
            </div>
          </div>
        </div>


        <div class="form-group">
          <label>CIN</label>
          <input type="text " class="form-control" ng-model="form.company.cin">
        </div>
        <div class="form-group">
          <label>TIN</label>
          <input type="text " class="form-control" ng-model="form.company.tin">
        </div>
        <div class="form-group">
          <label>Logo</label>
          <input type="text " class="form-control" ng-model="form.company.logo">
        </div>
        <div class="form-group">
          <label>web</label>
          <input type="text " class="form-control" ng-model="form.company.web">
        </div>
      </div>
      <button type="button" class="btn btn-primary pull-right col-md-3 pull-right" ng-click="updateCompanyDetails()">Save company details</button>
    </div>
  </div>
</div>
