<breadcrumb></breadcrumb>
<div class="container-fluid">
  <uib-tabset>
    <uib-tab active="createTabActive">
      <uib-tab-heading>
        New <i class="fa fa-plus"></i>
      </uib-tab-heading>
      <div style="margin-top:20px;" ng-include="'/static/ngTemplates/app.clientRelationships.opportunities.form.html'">
      </div>
    </uib-tab>
    <uib-tab active="searchTabActive">
      <uib-tab-heading>
        Board
        <i class="fa fa-th-large"></i>
      </uib-tab-heading>
      <div ng-include="'/static/ngTemplates/app.clientRelationships.opportunities.list.html'">
      </div>
    </uib-tab>
    <uib-tab>
      <uib-tab-heading>
        All
        <i class="fa fa-th"></i>
      </uib-tab-heading>
      <div ng-include="'/static/ngTemplates/app.clientRelationships.opportunities.created.html'">
      </div>
    </uib-tab>

    <uib-tab ng-repeat="tab in tabs" active="tab.active" disable="tab.disabled">
      <uib-tab-heading>
        {{tab.title}}
        <i ng-if="tab.cancel" class="fa fa-close" ng-click="closeTab($index);"></i>
      </uib-tab-heading>
      <div ng-if="tab.app == 'opportunityEditor'">
        <div ng-include="'/static/ngTemplates/app.clientRelationships.contact.form.html'"></div>
      </div>
      <div ng-if="tab.app == 'exploreDeal'">
        <div ng-include="'/static/ngTemplates/app.clientRelationships.opportunities.explore.html'"></div>
      </div>
      <div ng-if="tab.app == 'contactEditor'">
          <div ng-include="'/static/ngTemplates/app.clientRelationships.contact.form.html'"></div>
      </div>
      <div ng-if="tab.app == 'contactForm'">
        <div ng-include="'/static/ngTemplates/app.clientRelationships.contact.form.html'"></div>
      </div>
      <div ng-if="tab.app == 'contactExplorer'">
        <div ng-include="'/static/ngTemplates/app.clientRelationships.contact.explore.html'"></div>
      </div>
    </uib-tab>
  </uib-tabset>
</div>
