<div ng-controller="businessManagement.clientRelationships.opportunities.list">
  <div class="row" style="padding:20px;">
    <div class="container-fluid">
      <div class="col-md-10">
        <div class="input-group">
          <input type="text" class="form-control" ng-model="searchText" ng-enter=fetchDeals()>
          <span class="input-group-btn" ng-if="searchText!= ''">
              <button class = "btn btn-primary" style="width:50px;" type = "button" ng-click="resetSearch()">
                 <i class="fa fa-times"></i>
              </button>
           </span>
           <span class="input-group-btn" >
               <button class = "btn btn-default" type = "button" ng-click="fetchDeals()">
                  <i class="fa fa-refresh"></i>
               </button>
            </span>
        </div>
      </div>
      <div class="col-md-2 text-center">
        <span style="margin-right:10px;">Name</span>
        <switch ng-model="companySearch" class="neutral"></switch><span style="margin-left:10px;">Company name</span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="text-center col-md-2 boardHeader {{$index | rainbow}}" ng-repeat="c in columns">
      <span style="font-size:17px;"><i class="fa {{c.icon}} fa-lg" style="margin-right:15px;"></i> {{c.text}}</span>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2" style="padding:20px;" ng-repeat="col in columns">
      <div class="row" style="min-height:70vh;" ng-drop="true" ng-drop-success="onDropComplete($data,$event , $index);">
        <div ng-click="exploreDeal(c , $event)" class="card draggable dealCard" ng-drag="true" ng-drag-data="c" data-allow-transform="true" ng-repeat="c in data[col.cat]">
          <h4>{{c.name | humanize}}</h4>
          <span><i class="fa fa-building-o"></i> {{c.company.name}}</span> <br> <br>
          <img ng-src="{{c.contacts[0] | getCRMDP}}" class="img img-circle" style="width:30px;height:30px;"> {{c.contacts[0].name}}
        </div>
      </div>
    </div>
  </div>
</div>
