<div class="modal-header">
  <h3>Apply :</h3>
</div>
<div class="modal-body">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8">
        <div class="form-group">
          <label>First Name</label>
          <input type="text" class="form-control" ng-model="form.firstname">
        </div>
        <div class="form-group">
          <label>Last Name</label>
          <input type="text" class="form-control" ng-model="form.lastname">
        </div>
        <div class="form-group">
          <label>Email</label>
          <input type="email" class="form-control" ng-model="form.email">
        </div>
        <div class="form-group">
          <label>Mobile</label>
          <input type="text" class="form-control" ng-model="form.mobile">
        </div>
        <div class="form-group">
          <label>Cover Letter</label>
          <textarea type="text" class="form-control" ng-model="form.coverletter"></textarea>
        </div>
        <br/>
        <div class="form-group">
          <label>Resume</label>
          <input type="file" file-model="form.resume">
          <div class="help-block">
            Please Upload In Pdf Format
          </div>
        </div>
        <div class="form-group">
          <label>Cover Letter</label>
          <textarea type="checkbox" class="form-control" ng-model="form.coverletter"></textarea>
        </div>
        <div class="btn-group">
          <button type="button" class="btn btn-primary" ng-click="save()">Save</button>
          <button type="button" class="btn btn-default" ng-click="cancel()">
              Close
            </button>
        </div>
      </div>
    </div>
  </div>
</div>
