<div>
  <div class="container-fluid" style="padding-left:0px;padding-right:0px;">
    <header style="background-image: url({{mainBannerImages[bannerID]}});height:100vh;width:100%;">
      <!-- <header  style="background:rgb(29, 98, 180);height:100vh;"> -->
      <div class="container" style="overflow:hidden;">
        <div class="intro-text" style="text-align:right;">
          <div class="intro-lead-in" style="font-size:36px;padding-right:53px;">We are your technology partner</div>
          <!-- <div class="intro-heading" >Think Free</div> -->
          <div class="btn1" style="padding-right: 40px;">
            <a href="#services" class="page-scroll btn btn-xl">Tell Me More</a>
          </div>
        </div>
      </div>
    </header>
  </div>

  <!--/chatbox-->
  <div class="main-section" style="  width: 300px;position:fixed;right:30px;bottom:0px;z-index:9;" ng-controller="homepage.chat">

    <div class="row" style="border:1px solid #315f82;margin:0px;background-color: #174b6d;">
      <div class="col-md-10">
        <span ng-if="data.started" style="font-size:15px;color:white;"><i class="fa fa-user-o" ></i>{{name}}</span>
        <span ng-if="!data.started" style="font-size:15px;color:white;cursor:pointer;" ng-click="data.minimized = false;"><i class="fa  fa-envelope" ></i> Chat with our support team</span>


      </div>
      <div class="col-md-2">
        <i class="fa fa-angle-{{data.minimized ? 'up':'down'}} pull-right" style="color:white;margin-top:4px;cursor:pointer;" ng-click="data.minimized = !data.minimized"></i>
      </div>
    </div>
    <div class="row" style="border:1px solid #174b6d;margin: 0px;padding:0px;background-color:#e1e5e8;">
      <!-- <div class="col-md-12" style="background-color:#e1e5e8;"> -->

      <div class="container-fluid" ng-if="!data.started && !data.minimized" style="padding:20px;">
        <form name="myForm">
        <div class="form-group">
          <label>Name</label>
          <input type="text" name="name" class="form-control" ng-model="data.name" required>
          <div ng-show="myForm.name.$error.required && myForm.name.$touched" class="text-danger">Required!</div>
        </div>

        <div class="form-group">
          <label>Email</label>
          <input type="email" class="form-control" name="email" ng-model="data.email" required>
          <div ng-show="myForm.email.$error.email" class="text-danger">Invalid email!</div>
          <div ng-show="myForm.email.$error.required && myForm.email.$touched" class="text-danger">Required!</div>
        </div>

        <button ng-click="authentication()" type="button" class="btn btn-primary" >Start</button>

      </form>
      </div>


      <div  ng-if="data.started" style="height:{{data.minimized? '0':'300' }}px; overflow-y:auto;" class="container-fluid">


        <div class="row" ng-repeat="message in messages" style="padding:0px;">
          <div style="float:{{message.sentByMe ? 'right':'left'}};background-color:#eeeeee;padding:10px;margin:8px;border-radius:{{message.sentByMe ? '20px 0px 20px 20px':'0px 20px 20px 20px'}};" >
            <p style=>{{message.msg}}</p>
          </div>

        </div>
      </div>

    </div>
    <div class="row" style="border:1px solid #315f82;margin:0px;background-color:#e1e5e8;border-top:none;" ng-if="!data.minimized && data.started">
      <!-- <div class="col-md-11" style="margin-top: 8px;"> -->
      <!-- <div class="text-bar"> -->
      <div class="col-md-9" style="padding:0px;">
        <input type="text" class="form-control" ng-model="data.msgText" placeholder="Message" style="border-radius:0px;"></div>
        <div class="col-md-1" style="margin-top:10px;"><i class="fa fa-paper-plane-o" ng-click="send()" style="cursor:pointer"></i></div>
        <div class="col-md-1" style="margin-top:10px;"><i class="fa fa-paperclip"  style="cursor:pointer"></i></div>

    </div>
  </div>

  <!--header  style="background:rgb(29, 98, 180);height:100vh;">
      <div class="container" style="overflow:hidden;position:relative;height:100%;width:100%;">
        <img ng-src="/static/images/crm/8.png" style="height:700px;position:absolute;top:40vh;left:200px;">
          <div class="container-fluid" style="padding-right:100px;">
            <div class="intro-text" style="text-align:right;">
                <div class="intro-lead-in" >CRM for tomorrow</div>
                <div style="font-size:20px;padding:20px;">
                  <div class="row">Fast</div>
                  <div class="row">Fluid</div>
                  <div class="row">Intiutive</div>
                </div>
            </div>
          </div>
      </div>
  </header>
  <header  style="background:rgb(218, 53, 31);height:100vh;">
      <div class="container" style="overflow:hidden;position:relative;height:100%;width:100%;">
        <img ng-src="/static/images/pmTest.png" style="height:700px;position:absolute;top:50vh;left:200px;">
          <div class="container-fluid" style="padding-right:100px;">
            <div class="intro-text" style="text-align:right;">
              <div class="intro-lead-in" >TaskBoard</div>
              <div class="intro-lead-in" style="font-size:20px;" >Keeping tracks of who owns what</div>
                <div style="font-size:20px;padding:20px;">
                  <div class="row" style="margin-bottom:30px;"><i class="fa fa-git fa-2x" style="margin-right:30px;"></i> GIT</div>
                  <div class="row"><i class="fa fa-th-list fa-2x" style="margin-right:30px;"></i> Task</div>
                </div>
            </div>
          </div>
      </div>
  </header-->
  <!--header style="background:rgb(29, 98, 180);height:100vh;">
      <div class="container" style="overflow:hidden;position:relative;height:100%;width:100%;">
        <img ng-src="/static/images/arch_gif.gif" style="height:700px;position:absolute;top:30vh;left:200px;" class="imgOnBanner">
          <div class="container-fluid" style="padding-right:100px;">
            <div class="intro-text" style="text-align:right;">
              <div class="intro-lead-in" >Architecture</div>
              <div class="intro-lead-in" style="font-size:20px;" >We optimize</div>
              //  <!-- <div style="font-size:20px;padding:20px;">
                  <div class="row" style="margin-bottom:30px;"><i class="fa fa-git fa-2x" style="margin-right:30px;"></i> GIT</div>
                  <div class="row"><i class="fa fa-th-list fa-2x" style="margin-right:30px;"></i> Task</div>
                </div> -->
  <!--/div>
          </div>
      </div>
  </header>

  <header  style="background:rgb(23, 130, 130);height:100vh;">
      <div class="container" style="overflow:hidden;position:relative;height:100%;width:100%;">
        <img ng-src="/static/images/food.png" style="height:700px;position:absolute;top:40vh;left:200px;">
          <div class="container-fluid" style="padding-right:100px;">
            <div class="intro-text" style="text-align:right;">
              <div class="intro-lead-in" >Ecommerce</div>
              <div class="intro-lead-in" style="font-size:20px;" >Still using Wordpress or Magento ?</div>
              <div class="intro-lead-in" style="font-size:20px;" >Try something fresh</div>
            </div>
          </div>
      </div>
  </header-->

  <!-- Services Section -->
  <div class="body">
    <div class="container" style="padding-left:0px;padding-right:0px;box-shadow: 0px 30px 50px 12px #d0d5dd;">
      <div class="container-fluid">
        <section id="services">

          <div class="row">
            <div class="col-lg-12 text-center">
              <h2 class="section-heading">Services</h2>
              <h3 class="section-subheading text-muted">As your technology partner we can help you more then you can imagine.</h3>
            </div>
          </div>
          <div class="row text-center">
            <div class="col-md-4">
              <span class="fa-stack fa-4x">
                      <i class="fa fa-circle fa-stack-2x text-primary"></i>
                      <i class="fa fa-rocket fa-stack-1x fa-inverse"></i>
                  </span>
              <h4 class="service-heading">IOT</h4>
              <p class="text-muted">How about we take your data and services to all the devices you possibly think of be it for smart home to smart factory.</p>
            </div>
            <div class="col-md-4">
              <span class="fa-stack fa-4x">
                      <i class="fa fa-circle fa-stack-2x text-primary"></i>
                      <i class="fa fa-globe fa-stack-1x fa-inverse"></i>
                  </span>
              <h4 class="service-heading">Web</h4>
              <p class="text-muted">As the starting point for each business we take care of brining your business online. Got a food delivery or other ecommerce business idea ? we are here to help.</p>
            </div>
            <div class="col-md-4">
              <span class="fa-stack fa-4x">
                      <i class="fa fa-circle fa-stack-2x text-primary"></i>
                      <i class="fa fa-mobile fa-stack-1x fa-inverse"></i>
                  </span>
              <h4 class="service-heading">Desktop/Mobile</h4>
              <p class="text-muted">When we say mobility we mean serious productivity on the go. Dont let your employee stick to the web or a desktop machine to get the job done. Given them ability to work on the fly.</p>
            </div>
          </div>

        </section>
      </div>
      <!-- Portfolio Grid Section -->

      <section id="portfolio" class="bg-light-gray">

        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">Portfolio/Products</h2>
            <h3 class="section-subheading text-muted">We already have a lot you can use right away.</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 col-sm-6 portfolio-item">
            <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-plus fa-3x"></i>
                </div>
              </div>
              <img src="{% static 'images/portfolio/erp.png' %}" class="img-responsive" alt="">
            </a>
            <div class="portfolio-caption">
              <h4>LibreERP</h4>
              <p class="text-muted">Free and Open source ERP Platform</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 portfolio-item">
            <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-plus fa-3x"></i>
                </div>
              </div>
              <img src="{% static 'images/portfolio/rpa.jpg' %}" class="img-responsive" alt="">
            </a>
            <div class="portfolio-caption">
              <h4>LibreRPA</h4>
              <p class="text-muted">A platform for business process automation</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 portfolio-item">
            <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-plus fa-3x"></i>
                </div>
              </div>
              <img src="{% static 'images/portfolio/assist.jpg' %}" class="img-responsive" alt="">
            </a>
            <div class="portfolio-caption">
              <h4>LibreAssist</h4>
              <p class="text-muted">A chat bot like Siri</p>
            </div>
          </div>
          <!-- <div class="col-md-4 col-sm-6 portfolio-item">
                  <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
                      <div class="portfolio-hover">
                          <div class="portfolio-hover-content">
                              <i class="fa fa-plus fa-3x"></i>
                          </div>
                      </div>
                      <img src="{% static 'images/portfolio/golden.png' %}" class="img-responsive" alt="">
                  </a>
                  <div class="portfolio-caption">
                      <h4>LibreDOC</h4>
                      <p class="text-muted">Getting scanned invoices? use this to automatically process it</p>
                  </div>
              </div>
              <div class="col-md-4 col-sm-6 portfolio-item">
                  <a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">
                      <div class="portfolio-hover">
                          <div class="portfolio-hover-content">
                              <i class="fa fa-plus fa-3x"></i>
                          </div>
                      </div>
                      <img src="{% static 'images/portfolio/escape.png' %}" class="img-responsive" alt="">
                  </a>
                  <div class="portfolio-caption">
                      <h4>Escape</h4>
                      <p class="text-muted">Website Design</p>
                  </div>
              </div> -->
          <!-- <div class="col-md-4 col-sm-6 portfolio-item">
                  <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
                      <div class="portfolio-hover">
                          <div class="portfolio-hover-content">
                              <i class="fa fa-plus fa-3x"></i>
                          </div>
                      </div>
                      <img src="{% static 'images/portfolio/dreams.png' %}" class="img-responsive" alt="">
                  </a>
                  <div class="portfolio-caption">
                      <h4>Dreams</h4>
                      <p class="text-muted">Website Design</p>
                  </div>
              </div> -->
        </div>

      </section>

      <!-- About Section -->
      <!-- <section id="about">
      <div class="container">
          <div class="row">
              <div class="col-lg-12 text-center">
                  <h2 class="section-heading">About</h2>
                  <h3 class="section-subheading text-muted">Here is our story.</h3>
              </div>
          </div>
          <div class="row">
              <div class="col-lg-12">
                  <ul class="timeline">
                      <li>
                          <div class="timeline-image">
                              <img class="img-circle img-responsive" src="{% static 'images/about/1.jpg' %}" alt="">
                          </div>
                          <div class="timeline-panel">
                              <div class="timeline-heading">
                                  <h4>2009-2011</h4>
                                  <h4 class="subheading">Our Humble Beginnings</h4>
                              </div>
                              <div class="timeline-body">
                                  <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                              </div>
                          </div>
                      </li>
                      <li class="timeline-inverted">
                          <div class="timeline-image">
                              <img class="img-circle img-responsive" src="{% static 'images/about/2.jpg' %}" alt="">
                          </div>
                          <div class="timeline-panel">
                              <div class="timeline-heading">
                                  <h4>March 2011</h4>
                                  <h4 class="subheading">An Agency is Born</h4>
                              </div>
                              <div class="timeline-body">
                                  <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                              </div>
                          </div>
                      </li>
                      <li>
                          <div class="timeline-image">
                              <img class="img-circle img-responsive" src="{% static 'images/about/3.jpg' %}" alt="">
                          </div>
                          <div class="timeline-panel">
                              <div class="timeline-heading">
                                  <h4>December 2012</h4>
                                  <h4 class="subheading">Transition to Full Service</h4>
                              </div>
                              <div class="timeline-body">
                                  <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                              </div>
                          </div>
                      </li>
                      <li class="timeline-inverted">
                          <div class="timeline-image">
                              <img class="img-circle img-responsive" src="{% static 'images/about/4.jpg' %}" alt="">
                          </div>
                          <div class="timeline-panel">
                              <div class="timeline-heading">
                                  <h4>July 2014</h4>
                                  <h4 class="subheading">Phase Two Expansion</h4>
                              </div>
                              <div class="timeline-body">
                                  <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                              </div>
                          </div>
                      </li>
                      <li class="timeline-inverted">
                          <div class="timeline-image">
                              <h4>Be Part
                                  <br>Of Our
                                  <br>Story!</h4>
                          </div>
                      </li>
                  </ul>
              </div>
          </div>
      </div>
  </section> -->

      <!-- Team Section -->
      <section id="team" class="bg-light-gray">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 text-center">
              <h2 class="section-heading">Our Amazing Team</h2>
              <!-- <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3> -->
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <div class="team-member">
                <img src="{% static 'images/userIcon.png' %}" style="height:150px" class="img-responsive img-circle" alt="">
                <h4>Pradeep</h4>
                <p class="text-muted">Technology</p>
                <ul class="list-inline social-buttons">
                  <!-- <li><a href="#"><i class="fa fa-twitter"></i></a> -->
                  </li>
                  <!-- <li><a href="#"><i class="fa fa-facebook"></i></a> -->
                  </li>
                  <li><a href="#"><i class="fa fa-linkedin"></i></a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="team-member">
                <img src="{% static 'images/userIcon.png' %}" style="height:150px" class="img-responsive img-circle" alt="">
                <h4>Raj</h4>
                <p class="text-muted">Technology</p>
                <ul class="list-inline social-buttons">
                  <!-- <li><a href="#"><i class="fa fa-twitter"></i></a> -->
                  </li>
                  <!-- <li><a href="#"><i class="fa fa-facebook"></i></a> -->
                  </li>
                  <li><a href="#"><i class="fa fa-linkedin"></i></a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="team-member">
                <img src="{% static 'images/userIcon.png' %}" style="height:150px" class="img-responsive img-circle" alt="">
                <h4>Sowmya</h4>
                <p class="text-muted">Sales</p>
                <ul class="list-inline social-buttons">
                  <!-- <li><a href="#"><i class="fa fa-twitter"></i></a> -->
                  </li>
                  <!-- <li><a href="#"><i class="fa fa-facebook"></i></a> -->
                  </li>
                  <li><a href="#"><i class="fa fa-linkedin"></i></a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="team-member">
                <img src="{% static 'images/userIcon.png' %}" style="height:150px" class="img-responsive img-circle" alt="">
                <h4>Deepika</h4>
                <p class="text-muted">Finance</p>
                <ul class="list-inline social-buttons">
                  <!-- <li><a href="#"><i class="fa fa-twitter"></i></a> -->
                  </li>
                  <!-- <li><a href="#"><i class="fa fa-facebook"></i></a> -->
                  </li>
                  <li><a href="#"><i class="fa fa-linkedin"></i></a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="team-member">
                <img src="{% static 'images/userIcon.png' %}" style="height:150px" class="img-responsive img-circle" alt="">
                <h4>Santosh</h4>
                <p class="text-muted">Admin</p>
                <ul class="list-inline social-buttons">
                  <!-- <li><a href="#"><i class="fa fa-twitter"></i></a> -->
                  </li>
                  <!-- <li><a href="#"><i class="fa fa-facebook"></i></a> -->
                  </li>
                  <li><a href="#"><i class="fa fa-linkedin"></i></a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-sm-4 text-center">
              <div class="team-member">
                <!-- <img src="{% static 'images/userIcon.png' %}" style="height:150px" class="img-responsive img-circle" alt=""> -->
                <a class="circleBtn" href="/team">More <i class="fa fa-chevron-right" aria-hidden="true"></i></a>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
              <p class="large text-muted">We started turning our own ideas into reality of free and open source business platform in the form of LibreERP and LibreRPA then we thought why not help others too in their entrepreneurial journey</p>
            </div>
          </div>
        </div>
      </section>

      <!-- Clients Aside -->
      <!-- <aside class="clients">
      <div class="container">
          <div class="row">
              <div class="col-md-3 col-sm-6">
                  <a href="#">
                      <img src="{% static 'images/logos/envato.jpg' %}" class="img-responsive img-centered" alt="">
                  </a>
              </div>
              <div class="col-md-3 col-sm-6">
                  <a href="#">
                      <img src="{% static 'images/logos/designmodo.jpg' %}" class="img-responsive img-centered" alt="">
                  </a>
              </div>
              <div class="col-md-3 col-sm-6">
                  <a href="#">
                      <img src="{% static 'images/logos/themeforest.jpg' %}" class="img-responsive img-centered" alt="">
                  </a>
              </div>
              <div class="col-md-3 col-sm-6">
                  <a href="#">
                      <img src="{% static 'images/logos/creative-market.jpg' %}" class="img-responsive img-centered" alt="">
                  </a>
              </div>
          </div>
      </div>
  </aside> -->

      <!-- Contact Section -->

      <section id="contact" style="background-image: url({% static 'images/map-image.png' %});">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 text-center">
              <h2 class="section-heading">Contact Us</h2>
              <h3 class="section-subheading text-muted">Get in touch to know how we can colaborate together.</h3>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <form name="sentMessage" id="contactForm" action="/api/events/subscribe/" method="post">
                {% csrf_token %}
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <input type="text" class="form-control" placeholder="Your Name *" name="name" required>
                    </div>
                    <div class="form-group">
                      <input type="email" class="form-control" placeholder="Your Email *" name="email" required>
                    </div>
                    <div class="form-group">
                      <input type="tel" class="form-control" placeholder="Your Phone *" name="phone" required>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <textarea class="form-control" placeholder="Your Message *" id="message" name="comments"></textarea>
                    </div>
                  </div>
                  <div class="clearfix"></div>
                  <div class="col-lg-12 text-center">
                    <button type="submit" class="btn btn-xl">Send Message</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>


      {% endblock %} {% block footer %}
      <footer>
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <span class="copyright">Copyright &copy; CIOC FMCG Pvt Ltd 2017</span>
            </div>
            <div class="col-md-4">
              <ul class="list-inline social-buttons">
                <!-- <li><a href="#"><i class="fa fa-twitter"></i></a>
                    </li> -->
                <li><a href="#"><i class="fa fa-facebook"></i></a>
                </li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a>
                </li>
              </ul>
            </div>
            <div class="col-md-4">
              <ul class="list-inline quicklinks">
                <li><a href="#">Privacy Policy</a>
                </li>
                <li><a href="#">Terms of Use</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </footer>

      <!-- Portfolio Modals -->
      <!-- Use the modals below to showcase details about your portfolio projects! -->

      <!-- Portfolio Modal 1 -->
      <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
            <div class="lr">
              <div class="rl">
              </div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-lg-8 col-lg-offset-2">
                <div class="modal-body">
                  <!-- Project Details Go Here -->
                  <h2>ERP</h2>
                  <p class="item-intro text-muted">An open source and free platform.</p>
                  <img class="img-responsive img-centered" src="{% static 'images/portfolio/erp.png' %}" alt="">
                  <p>Minimize your business expenditure by switching to LibreERP. Once deployed it gives you project management , HR, Business management and many more modules along with their mobile apps.</p>
                  <p>
                    <strong>Want to try it out?</strong>You can download the source at <a href="https://github.com/pkyad/libreERP-main">github.com</a>, or you can contact us by sending an email to info@cioc.co.in</p>
                  <!-- <ul class="list-inline">
                            <li>Date: July 2014</li>
                            <li>Client: Round Icons</li>
                            <li>Category: Graphic Design</li>
                        </ul> -->
                  <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Portfolio Modal 2 -->
      <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
            <div class="lr">
              <div class="rl">
              </div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-lg-8 col-lg-offset-2">
                <div class="modal-body">
                  <h2>RPA</h2>
                  <p class="item-intro text-muted">Automate web apps and citrix applications with this free RPA platform.</p>
                  <img class="img-responsive img-centered" src="{% static 'images/portfolio/rpa.jpg' %}" alt="">
                  <p>Contact us for a demo by sending an email to info@cioc.co.in</p>
                  <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Portfolio Modal 3 -->
      <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
            <div class="lr">
              <div class="rl">
              </div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-lg-8 col-lg-offset-2">
                <div class="modal-body">
                  <!-- Project Details Go Here -->
                  <h2>Assist</h2>
                  <p class="item-intro text-muted">24X7 online information desk on your website powered by LibreAssist, an open source chatbot platform with advance NLP capabilities.</p>
                  <img class="img-responsive img-centered" src="{% static 'images/portfolio/assist.jpg' %}" alt="">
                  <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Portfolio Modal 4 -->
      <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
            <div class="lr">
              <div class="rl">
              </div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-lg-8 col-lg-offset-2">
                <div class="modal-body">
                  <!-- Project Details Go Here -->
                  <h2>Project Name</h2>
                  <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                  <img class="img-responsive img-centered" src="{% static 'images/portfolio/golden-preview.png' %}" alt="">
                  <p>Start Bootstrap's Agency theme is based on Golden, a free PSD website template built by <a href="https://www.behance.net/MathavanJaya">Mathavan Jaya</a>. Golden is a modern and clean one page web template that was made exclusively for
                    Best PSD Freebies. This template has a great portfolio, timeline, and meet your team sections that can be easily modified to fit your needs.</p>
                  <p>You can download the PSD template in this portfolio sample item at <a href="http://freebiesxpress.com/gallery/golden-free-one-page-web-template/">FreebiesXpress.com</a>.</p>
                  <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Portfolio Modal 5 -->
      <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
            <div class="lr">
              <div class="rl">
              </div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-lg-8 col-lg-offset-2">
                <div class="modal-body">
                  <!-- Project Details Go Here -->
                  <h2>Project Name</h2>
                  <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                  <img class="img-responsive img-centered" src="{% static 'images/portfolio/escape-preview.png' %}" alt="">
                  <p>Escape is a free PSD web template built by <a href="https://www.behance.net/MathavanJaya">Mathavan Jaya</a>. Escape is a one page web template that was designed with agencies in mind. This template is ideal for those looking for a simple
                    one page solution to describe your business and offer your services.</p>
                  <p>You can download the PSD template in this portfolio sample item at <a href="http://freebiesxpress.com/gallery/escape-one-page-psd-web-template/">FreebiesXpress.com</a>.</p>
                  <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Portfolio Modal 6 -->
      <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
            <div class="lr">
              <div class="rl">
              </div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-lg-8 col-lg-offset-2">
                <div class="modal-body">
                  <!-- Project Details Go Here -->
                  <h2>Project Name</h2>
                  <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                  <img class="img-responsive img-centered" src="{% static 'images/portfolio/dreams-preview.png' %}" alt="">
                  <p>Dreams is a free PSD web template built by <a href="https://www.behance.net/MathavanJaya">Mathavan Jaya</a>. Dreams is a modern one page web template designed for almost any purpose. It’s a beautiful template that’s designed with the
                    Bootstrap framework in mind.</p>
                  <p>You can download the PSD template in this portfolio sample item at <a href="http://freebiesxpress.com/gallery/dreams-free-one-page-web-template/">FreebiesXpress.com</a>.</p>
                  <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
