
<div class="col-md-6">
  <div class="cards" style="border-left:4px solid #4192cd;box-shadow:0 2px 8px rgba(26,24,20,0.2);margin-bottom: 25px;">
    <div class="row" syle="padding: 7px;" ng-mouseenter="hover = true;" ng-mouseleave="hover = false;">
      <div class="col-md-2" style="padding-right:0px;">
        <img ng-src="{{data.displayPicture}}" style="width: 100%;">
      </div>
      <div class="col-md-9" style="margin-top:10px;">

        <div class="row" style="padding-left:10px;">
            <span style="font-size: 18px;">{{data.name}}</span> <span style="font-size: 18px;" ng-if="data.skuUnitpack"> Pack of {{data.skuUnitpack}} </span>
        </div>
        <div class="row">
          <div class="col-md-7" style="padding-right:0px;">
            <span>MRP:{{data.price}}</span><br>
            <span>serialNo:{{data.serialNo}}</span>
          </div>
          <div class="col-md-5">
            <span>HSN/SAC:{{data.productMeta.code}}</span><br>
            <span>In Stock:{{data.inStock}}</span>
          </div>

        </div>
      </div>

      <div class="col-md-1 text-left" ng-if="hover" style="padding-top:10px;">
        <div class="row">
          <span><i class="fa fa-info" style="color: rgb(24, 108, 219);font-size: 20px;cursor:pointer;" ng-click="rowActionClicked('info')"></i>
          </span>
        </div>
        <div class="row" style="margin-top:10px;">
          <span><i class="fa fa-pencil" style="color: rgb(24, 108, 219);font-size: 20px;cursor:pointer;" ng-click="rowActionClicked('edit')"></i>
          </span>
        </div>
      </div>

    </div>
  </div>
</div>
