

<div class="row">
  <div class="col-md-5">
    <div class="row">
      <div class="col-md-7">
        <div class="form-group">
          <label>Invoice Serial Number</label>
          <input type="text" class="form-control" placeholder="Invoice Serial Number" ng-model="form.serialNumber">
        </div>
      </div>
      <div class="col-md-5">
        <div class="form-group">
          <label>Invoice Date</label>
          <div class="input-group">
            <input type="text" class="form-control" show-weeks="false" uib-datepicker-popup="dd-MMMM-yyyy" ng-model="form.invoiceDate" is-open="statusInvDate.opened" />
            <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="statusInvDate.opened = true;"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-7">
    <div class="row">
      <div class="col-md-3">
        <div class="form-group">
          <label>Reference</label>
          <input type="text" class="form-control" placeholder="PO. Number,text" ng-model="form.reference">
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label>Due date</label>
          <div class="input-group">
            <input type="text" class="form-control" show-weeks="false" uib-datepicker-popup="dd-MMMM-yyyy" ng-model="form.deuDate" is-open="statusDue.opened" ng-init="today" />
            <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="statusDue.opened = true;"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label>Return Quater</label>
          <select ng-model="form.returnquater" class="form-control">
            <option value="" disabled selected>select Return Quater</option>
            <option value="jan-march">January - March</option>
            <option value="april-june">April - June</option>
            <option value="july-sep">July - September</option>
            <option value="oct-dec">October - December</option>
          </select>
        </input>
        </div>
      </div>
    </div>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-6">
    <div class="col-md-10" style="padding-left: 0px;">
      <div class="form-group">
        <label>Customer Name</label>
        <div class="{{(showCreateCustomerBtn || customerExist) && !showCustomerForm ? 'input-group':''}}">
          <input uib-typeahead="customer as customer.name for customer in customerNameSearch($viewValue)" ng-model="form.customer" type="text" class="form-control" placeholder="Search using customer name">
          <span ng-click="openCustomerForm()" ng-if="(showCreateCustomerBtn || customerExist) && !showCustomerForm" class="input-group-addon btn btn-primary"><i class="fa fa-{{!customerExist ? 'plus':'pencil'}}"></i> {{ !customerExist?  'New':'Edit'}}</span>
        </div>
      </div>
      <div class="row" ng-if="form.customer.pk">
        <div class="col-md-6">
          <div class="form-group">
            <label>GSTIN:</label>
            <span>{{form.customer.gst}}</span>
          </div>
          <div class="form-group">
            <label>PAN NO.:</label>
            <span>{{form.customer.pan}}</span>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>Place of Supply:</label>
            <!-- <input type="text" class="form-control"  ng-model="form.customer.city" disabled> -->
            <span>{{form.customer.city}}</span>
            <!-- <select class="form-control">
                <option>{{form.customer.state}}</option>

              </select> -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6" ng-if="form.customer.pk">
    <div class="row">
      <div class="col-md-6" style="margin-top: 43px;">
        <span><b>Billing Address</b></span><br>
        <span>{{form.customer.street}}</span><br>
        <span>{{form.customer.city}}</span><br>
        <span>{{form.customer.state}}</span>
        <span>{{form.customer.pincode}}</span><br>
        <span>{{form.customer.country}}</span>
      </div>
      <div class="checkbox">
        <label><input type="checkbox" value="checked" style="margin-top: -2px;"ng-model="customer.sameAsShipping">&nbsp; Billing Address Same as Shipping</label>
      </div>
      <div class="col-md-6" ng-if="!customer.sameAsShipping">
        <span><b>Shipping Address</b></span><br>
        <span>{{form.customer.street}}</span><br>
        <span>{{form.customer.city}}</span><br>
        <span>{{form.customer.state}}</span>
        <span>{{form.customer.pincode}}</span><br>
        <span>{{form.customer.country}}</span>
      </div>

    </div>
  </div>
</div>
</div>


<div class="container-fluid" style="padding:0px">
  <table class="invoiceTable" style=" width: 100%;border-collapse: collapse;">
    <tr style="background-color: #eeeeee;height: 96px;">
      <th>#</th>
      <th>Item Description</th>
      <th>Item Type</th>
      <th>HSN/SAC</th>
      <th>Qty</th>
      <th>Rate(Rs.)</th>
      <th>Tax</th>
      <th>Subtotal</th>
      <th></th>
    </tr>
    <tr ng-repeat="item in form.products" >
      <td>{{$index + 1}}</td>
      <td>
        <input type="text" class="form-control-pos"  ng-model="item.data" uib-typeahead="p as p.name for p in productSearch($viewValue)">
      </td>
      <td>
          <span ng-if="item.data.pk">{{item.data.productMeta.typ == 'SAC'? 'Service' : 'Product'}}</span>
      </td>
      <td>
        <span ng-if="item.data.pk">{{item.data.productMeta.code}} ( {{item.data.productMeta.taxRate}} %)</span>

      </td>
      <td>
        <input type="number" class="form-control-pos" ng-model="item.quantity" ng-if="item.data.pk">
      </td>
      <td>
        <input type="float" class="form-control-pos" ng-model="item.data.price" ng-if="item.data.pk">
      </td>
      <td>
        <span ng-if="item.data.pk">{{(item.data.productMeta.taxRate*item.data.price/100).toFixed(2)}}</span>

      </td>
      <td>
        <span ng-if="item.data.pk">{{(item.quantity*(item.data.productMeta.taxRate*item.data.price/100 + item.data.price)).toFixed(2)}}</span>

      </td>
      <td>
        <button type="button" class="btn btn-danger btn-sm"  ng-click="delete($index)"> <i class="fa fa-trash"></i> </button>
      </td>

    </tr>
    <tr>
      <td>
        <div class="container-fluid" style="padding:0px;">
            <button style="background-color:white;border:none;" ng-click="addRow()"><i class="fa fa-plus" aria-hidden="true"  style="cursor:pointer"></i>
            </button>
        </div>
      </td>
      <td style="border:none;"></td>
      <td style="border:none;"></td>
      <td style="border:none;"></td>
      <td style="border:none;"></td>
      <td style="border:none;"></td>
      <td ng-if="form.products[0].data.pk" >{{subTotalTax()}}</td>
      <td ng-if="form.products[0].data.pk" >{{subTotal()}}</td>

    </tr>
  </table>

</div>




  <div class="down-part">
    <div class="row">
      <div class="col-md-12 text-center" style="margin-top: 27px;">
        <button type="button" class="btn btn-default" ng-click="goHome()">Back</button>
        <button type="button" class="btn btn-success" ng-click="saveInvoice()">Save Report</button>

        <a ng-if="form.pk" class="btn btn-default"  target="_blank" href="/api/POS/invoicePrint/?invoice={{form.pk}}">Print <i class="fa fa-print" ></i></a>

        <button type="button" class="btn btn-danger" ng-click="resetForm()">Reset Form</button>
      </div>
    </div>
  </div>
