<div class="cards" style="border-left:4px solid #4192cd;box-shadow:0 2px 8px rgba(26,24,20,0.2);margin-top: 25px;">
  <div class="row" syle="padding: 7px;">
    <div class="col-md-2">
      <img ng-src="{{data.displayPicture}}" style="width: 70%;">
    </div>
    <div class="col-md-10" style="margin-top:10px;">
      <div class="row">
        <div class="col-md-9">
          <span style="font-size: 18px;">{{data.name}}</span><br>
          <span>MRP:{{data.price}}</span><br>
          <span>GST%:{{data.gst}}</span>
        </div>
        <div class="col-md-2">
          <span>HSN/SAC:{{data.sac}}</span><br>
          <span>In Stock:{{data.stock}}</span>
        </div>
        <div class="col-md-1">
          <div class="icon-infohover">
            <span><i class="fa fa-info" aria-hidden="true" style="color: rgb(24, 108, 219);font-size: 20px;" ng-click="rowActionClicked('info')"></i></span>
          </div><br><br>
          <div class="icon-pancilhover">
            <span><i class="fa fa-pencil" aria-hidden="true" style="color: rgb(24, 108, 219);font-size: 20px;" ng-click="rowActionClicked('edit')"></i></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
