<div class="modal-header">
  <span ng-if="mode == 'new'">Create a new Product</span>
  <span ng-if="mode == 'edit'">Edit product : {{product.name}}</span>
</div>

<div class="modal-body">
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label>Name</label>
        <input type="text" class="form-control" ng-model="product.name">
      </div>

      <div class="form-group">
        <label>HSN Code</label>
        <input type="text" class="form-control" ng-model="product.hsnCode">
      </div>

      <div class="form-group">
        <label>MRP</label>
        <input type="tel" class="form-control"ng-model="product.price">
      </div>

      <div class="form-group">
        <label>Display Picture</label>
        <input type="file" name="pic" accept="image/*" file-model="product.displayPicture">
      </div>

      <div class="form-group">
        <label>Serial No.</label>
        <input type="tel" class="form-control"  ng-model="product.serialNo">
      </div>
      <div class="form-group">
        <label>In Stock.</label>
        <input type="tel" class="form-control"  ng-model="product.inStock">
      </div>

    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label>Description</label><br>
        <textarea class="form-control custom-control" rows="3" ng-model="product.description"></textarea>

      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 text-center" style="margin-top: 27px;">
      <button type="button" class="btn btn-success" ng-click="save()">Save</button>
    </div>
  </div>
</div>
