<div class="shaddowed card bg-white " style="position:relative;min-height:92vh;">
  <div class="container-fluid" style="padding:0px;">
    <breadcrumb></breadcrumb>
    <div class="container-fluid" ng-if="mode == 'invoice'" ng-include="'/static/ngTemplates/app.POS.invoices.html'">
    </div>
    <div class="container-fluid" ng-if="mode == 'home'">
      <div class="row">
        <div class="col-md-6">
          <div class="row">
            <uib-tabset style="margin-left: 15px;">
              <uib-tab>
                <uib-tab-heading>
                  Customers
                </uib-tab-heading>
                <div class="col-md-12" style="padding-left:0px">
                  <generic-Table data="data.customerDataTable" config-Obj="{{configCustomer}}" callback-Fn="tableActionCustomer">
                  </generic-Table>
                </div>
              </uib-tab>
              <uib-tab active="searchTabActive">
                <uib-tab-heading>
                  Invoice
                  <i class="fa fa-list-ul"></i>
                </uib-tab-heading>
                <div class="col-md-12" style="padding-left:0px">
                  <generic-Table data="data.invoiceDataTable" config-Obj="{{configInvoice}}" callback-Fn="tableActionInvoice"></generic-Table>
                </div>
              </uib-tab>
            </uib-tabset>
          </div>
          <generic-Table data="data.tableData" config-Obj="{{config}}" callback-Fn="tableAction"></generic-Table>
        </div>
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group" style="margin-top:10px;">
                <div class="row">
                  <div class="col-md-4 text-center">
                    <img src="/static/images/monthicon.png" class="img" style="width:80px;height:80px;" alt=""> <br>
                    <label>Month</label>
                    <input type="radio" name="type" value="Month">
                  </div>
                  <div class="col-md-4 text-center">
                    <img src="/static/images/weekicon.png" class="img" style="width:80px;height:80px;" alt=""> <br>
                    <label>Week</label>
                    <input type="radio" name="type" value="Week">
                  </div>
                  <div class="col-md-4 text-center">
                    <img src="/static/images/dayicon.jpg" class="img" style="width:80px;height:80px;" alt=""> <br>
                    <label>Day</label>
                    <input checked type="radio" name="type" value="Day">
                  </div>
                </div>
              </div>
              <div class="row" style="margin-bottom:30px;">
                <div class="col-md-8">
                  <canvas id="doughnut" class="chart chart-doughnut" chart-data="data2" chart-labels="labels2" style="width: 700px;height: 100%;">
                  </canvas>
                </div>
                <div class="col-md-4" style="padding-top: 60px;font-size: 20px;">
                  <div class="row">
                    <div class="col-md-6 text-right">
                      <strong>Sales:</strong>
                    </div>
                    <div class="col-md-6">
                      <i class="fa fa-inr"></i> 5000
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-6 text-right">
                      <strong>Products:</strong>
                    </div>
                    <div class="col-md-6">
                      <i class="fa fa-inr"></i> 5000
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="small-box bg-aqua">
                    <div class="inner">
                      <h3>150</h3>
                      <p>New Orders</p>
                    </div>
                    <div class="icon">
                      <i class="fa fa-shopping-cart"></i>
                    </div>
                    <a href="#" class="small-box-footer">
                    More info <i class="fa fa-arrow-circle-right"></i>
                  </a>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="small-box bg-green">
                    <div class="inner">
                      <h3>53<sup style="font-size: 20px">%</sup></h3>
                      <p>New Customer</p>
                    </div>
                    <div class="icon">
                      <i class="fa fa-user"></i>
                    </div>
                    <a href="#" class="small-box-footer">
                    More info <i class="fa fa-arrow-circle-right"></i>
                  </a>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="small-box bg-red">
                    <div class="inner">
                      <h3><i class="fa fa-inr"></i> 6500</h3>
                      <p>Cash in Bank</p>
                    </div>
                    <div class="icon">
                      <i class="fa fa-university"></i>
                    </div>
                    <a href="#" class="small-box-footer">
                      More info <i class="fa fa-arrow-circle-right"></i>
                    </a>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="small-box bg-yellow">
                    <div class="inner">
                      <h3><i class="fa fa-inr"></i> 5000</h3>
                      <p>Cash in Hand</p>
                    </div>
                    <div class="icon">
                      <i class="fa fa-money"></i>
                    </div>
                    <a href="#" class="small-box-footer">
                    More info <i class="fa fa-arrow-circle-right"></i>
                  </a>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="small-box bg-blue">
                    <div class="inner">
                      <h3>
                        <i class="fa fa-inr"></i> 444</h3>
                      <p>Total collections</p>
                    </div>
                    <div class="icon">
                      <i class="fa fa-money"></i>
                    </div>
                    <a href="#" class="small-box-footer">
                    More info <i class="fa fa-arrow-circle-right"></i>
                  </a>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="small-box bg-red">
                    <div class="inner">
                      <h3><i class="fa fa-inr"></i> 65</h3>
                      <p>Total Sales</p>
                    </div>
                    <div class="icon">
                      <i class="fa fa-pie-chart"></i>
                    </div>
                    <a href="#" class="small-box-footer">
                    More info <i class="fa fa-arrow-circle-right"></i>
                  </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row" style="margin-top:30px">
            <div class="col-md-12">
              <canvas id="line" class="chart chart-line" chart-data="data" chart-labels="labels" chart-legend="true"  chart-click="onClick" style="width: 832px;height: 305px;">
              </canvas>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
