<div class="modal-header">
  Edit Invoice : {{invoice.pk}}
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-md-4">
      <div class="row">
        <div class="col-md-6">
          <label>Invoice Serial Number</label><br>
          <span>{{invoice.serialNumber}}</span>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>Invoice Date</label><br>
            <span>{{invoice.invoicedate}}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-2">
          <label>Reference</label><br>
          <span>{{invoice.reference}}</span>
        </div>
        <div class="col-md-5">
          <div class="form-group">
            <label>Due date</label>
            <div class="input-group">
              <input type="text" class="form-control" show-weeks="false" uib-datepicker-popup="dd-MMMM-yyyy" ng-model="invoice.duedate" is-open="statusDue.opened" ng-init="today" />
              <span class="input-group-btn">
              <button type="button" class="btn btn-default" ng-click="statusDue.opened = true;"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <label>Return Quater</label><br>
          <span>{{invoice.returnquater}}</span>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <div class="col-md-10" style="padding-left: 0px;">
        <div class="form-group">
          <label>Customer Name</label>
          <div ng-if="mode == new" class="{{(showCreateCustomerBtn || customerExist) && !showCustomerForm ? 'input-group':''}}">
            <input uib-typeahead="customer as customer.name for customer in customerNameSearch($viewValue)" ng-model="invoice.customer" type="text" class="form-control" placeholder="Search using customer name">
            <span ng-click="openCustomerForm()" ng-if="(showCreateCustomerBtn || customerExist) && !showCustomerForm" class="input-group-addon btn btn-primary"><i class="fa fa-{{!customerExist ? 'plus':'pencil'}}"></i> {{ !customerExist?  'New':'Edit'}}</span>
          </div>
          <span ng-if="mode == 'edit'">{{invoice.customer.name}}</span>
        </div>
        <div class="row" ng-if="form.customer.pk || mode == 'edit'">
          <div class="col-md-6">
            <div class="form-group">
              <label>GSTIN:</label>
              <span>{{invoice.customer.gst}}</span>
            </div>
            <div class="form-group">
              <label>PAN NO.:</label>
              <span>{{invoice.customer.pan}}</span>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>Place of Supply:</label>
              <span>{{invoice.customer.city}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6" ng-if="form.customer.pk">
      <div class="row">
        <div class="col-md-6" style="margin-top: 43px;">
          <span><b>Billing Address</b></span><br>
          <span>{{invoice.customer.street}}</span><br>
          <span>{{invoice.customer.city}}</span><br>
          <span>{{invoice.customer.state}}</span>
          <span>{{invoice.customer.pincode}}</span><br>
          <span>{{invoice.customer.country}}</span>
        </div>
        <div class="col-md-6">
          <div class="checkbox">
            <label style="margin-top: -20px;"><input type="checkbox" value="checked" style="margin-top: -2px;"ng-model="customer.sameAsShipping">&nbsp; Billing Address Same as Shipping</label>
          </div>
          <div class="container-fluid" ng-if="!customer.sameAsShipping">
            <span><b>Shipping Address</b></span><br>
            <span>{{form.customer.street}}</span><br>
            <span>{{form.customer.city}}</span><br>
            <span>{{form.customer.state}}</span>
            <span>{{form.customer.pincode}}</span><br>
            <span>{{form.customer.country}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <table class="invoiceTable" style=" width: 100%;border-collapse: collapse;">
    <tr style="background-color: #eeeeee;height: 96px;">
      <th>#</th>
      <th>Item Description</th>
      <th>Item Type</th>
      <th>HSN/SAC</th>
      <th>Qty</th>
      <th>Rate(Rs.)</th>
      <th>Tax</th>
      <th>Subtotal</th>
      <th></th>
    </tr>
    <tr ng-repeat="item in form.products">
      <td>{{$index + 1}}</td>
      <td>
        <input type="text" class="form-control-pos" ng-model="item.data" uib-typeahead="p as p.name for p in productSearch($viewValue)">
      </td>
      <td>
        {{item.data.productMeta.typ == 'SAC'? 'Service' : 'Product'}}
      </td>
      <td>
        {{item.data.productMeta.code}} ( {{item.data.productMeta.taxRate}} %)
      </td>
      <td>
        <input type="number" class="form-control-pos" ng-model="item.quantity">
      </td>
      <td>
        <input type="float" class="form-control-pos" ng-model="item.data.price">
      </td>
      <td>
        {{(item.data.productMeta.taxRate*item.data.price/100).toFixed(2)}}
      </td>
      <td>
        {{(item.quantity*(item.data.productMeta.taxRate*item.data.price/100 + item.data.price)).toFixed(2)}}
      </td>
      <td>
        <button type="button" class="btn btn-danger btn-sm" ng-click="deleteTable($index)"> <i class="fa fa-trash"></i> </button>
      </td>
    </tr>
    <tr>
      <td>
        <div class="container-fluid" style="padding:0px;">
          <button style="background-color:white;border:none;" ng-click="addTableRow()"><i class="fa fa-plus" aria-hidden="true"  style="cursor:pointer"></i>
              </button>
        </div>
      </td>
      <td style="border:none;"></td>
      <td style="border:none;"></td>
      <td style="border:none;"></td>
      <td style="border:none;"></td>
      <td style="border:none;"></td>
      <td ng-if="form.products[0].data.pk">{{subTotalTax()}}</td>
      <td ng-if="form.products[0].data.pk">{{subTotal()}}</td>
    </tr>
  </table>
</div>
<div class="down-part">
  <div class="row">
    <div class="col-md-12 text-center" style="margin-top: 27px;">
      <!-- <button type="button" class="btn btn-default" ng-click="goHome()">Back</button> -->
      <button type="button" class="btn btn-success" ng-click="saveInvoiceForm()">Save Invoice</button>

      <a class="btn btn-default" target="_blank" href="/api/POS/invoicePrint/?invoice={{form.pk}}">Print <i class="fa fa-print" ></i></a>

      <!-- <button type="button" class="btn btn-danger" ng-click="resetForm()">Reset Form</button> -->
    </div>
  </div>
</div>

</div>
