<div class="col-md-3" style="padding-bottom:20px;padding-left:10px;padding-right:10px;" ng-controller="businessManagement.productsInventory.purchaseOrder.items">
  <div class="container-fluid card" style="padding-bottom:10px;">
    <div class="row" style="border-bottom: 1px solid #dedede;">
      <div class="col-md-8" style="position:relative;display:block;">
        <div class="row" style="padding-left:10px;">
          <h3>{{data.service.name}}</h3>
        </div>
      </div>
      <div class="col-md-4 text-right">
        <h4>#{{data.pk}}</h4>
      </div>
    </div>
    <div class="row container-fluid" style="padding-top:20px;height:70px;">
      <div class="col-md-10">
        <strong>Status:</strong> {{data.status}} <br>
        <span>{{data.products.length}} Item Selected</span><br>
        <strong>Total Value:</strong> <i class="fa fa-inr"></i> {{data.totalamount}} <br>
      </div>
      <div class="col-md-2">
        <div style="padding-right:20px;">
          <div class="row">
            <span class="pull-right" style="cursor:pointer;" ng-click="rowActionClicked('edit')">
            <i class="fa fa-pencil fa-lg" style="margin-top:0px;"></i>
          </span>
        </div><br>
          <div class="row">
            <span class="pull-right" style="cursor:pointer;" ng-click="rowActionClicked('info')">
            <i class="fa fa-info fa-lg" style="margin-top:0px;"></i>
          </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
