<div class="wizard animated fadeIn">
  <div ng-repeat="step in steps" style="width:{{100/steps.length}}%;padding-top:13px;cursor:{{editable?'pointer':'';}}" class="wizardItem {{$first ? 'firstInWizard':''}} {{$last ? 'lastInWizard':'haveDirection'}} {{$index < active?'success':''}} {{$index == active && !error ?'active':''}} {{$index == active  && error?'danger':''}} {{$index > active?'default':''}} text-center"
    ng-click="wizardClicked($index)" ng-mouseenter="activateTemp($index)" ng-mouseleave="resetHover()">
    <span ng-if="$index<active" style="color:white;font-size:16px;"><i class="fa fa-check fa-lg" ></i></span>
    <span ng-if="$index==active" style="color:white;font-size:16px;margin-left:7px;">{{step.display}}</span>
    <span ng-if="$index>active" style="color:#4163a6;font-size:16px;margin-left:7px;">{{step.display}}</span>
  </div>
</div>
