{% load staticfiles %}
<!DOCTYPE html>
<html ng-app="myApp">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" charset="utf-8">
  <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" charset="utf-8">

  <script src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/fabric.min.js' %}"></script>
  <script src="{% static 'js/angular.min.js' %}"></script>
  <script src="{% static 'js/autobahn.min.js' %}"></script>
  <script src="{% static 'js/ui-bootstrap-tpls-0.14.3.min.js' %}"></script>
  <script src="{% static 'js/public.student.js' %}"></script>
  <title>Student Home</title>
</head>

<body ng-controller="myCtrl1">
  <nav class="navbar navbar-inverse" style="border: none;border-radius: 0px;margin-bottom:0px;height:6vh;">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href=""><img src="{{brandLogoInverted}}" style="margin-top:-20px; max-width:400px;height:40px;margin-top:-10px;" height="60"></img></a>
      </div>
      {% verbatim %}

      <ul class="nav navbar-nav" style="padding-top:10px;margin-left:500px;">
        <li style="color:white;">{{timeMins}} : {{timeSecs}}</li>
      </ul>

      <ul class="nav navbar-nav navbar-right ">
        <li><a style="cursor:pointer;"><i ng-click="showFeedbackForm();" class="fa fa-sign-out " aria-hidden="true" style="font-size:20px;color:white;"></i></a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right ">
        <li>
          <span style="font-size:20px;color:white;margin-top:10px;">{{name}}</span>
          <img ng-src="{{dp}}" style="margin-top:5px; max-width:400px;height:40px;" height="60"></img>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-9">


        <div class="row">
          <div class="col-md-7" style="padding:0px;">

            <div class="btn-group btn-group-justified" role="group" aria-label="...">

              <div class="btn-group dropdown" role="group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" style="height:5vh;border: none;" ng-click="setPen(); mode='line'">
                <i title="Pencil" class="fa fa-pencil" aria-hidden="true" style=" font-size:3vh" ></i>
              </button>
                <ul class="dropdown-menu">
                  <li><input type="range" min="1" max="20" ng-model="size" ng-change="canvas.freeDrawingBrush.width = size;"></li>
                </ul>
              </div>

              <div class="btn-group dropdown" role="group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" style="height:5vh;border: none;">
                  <i title="Eraser" class="fa fa-eraser"  aria-hidden="true" style=" font-size:3vh"></i>
                </button>
                <ul class="dropdown-menu">
                  <li><a ng-click="EraserSize =10; setEraser();"><i class="fa fa-eraser" aria-hidden="true" style="font-size:5px;" ></i></a></li>
                  <li><a ng-click="EraserSize=20; setEraser();"><i class="fa fa-eraser" aria-hidden="true" style="font-size:10px;" ></i></a></li>
                  <li><a ng-click="EraserSize =30; setEraser();"><i class="fa fa-eraser" aria-hidden="true" style="font-size:15px;" ></i></a></li>
                </ul>
              </div>

              <div class="btn-group" role="group">
                <button type="button" class="btn btn-default" style="height:5vh;border: none;" ng-click="mode= 'text'; canvas.isDrawingMode = false;">
                  <i title="Text" class="fa fa-font" aria-hidden="true" style=" font-size:3vh" ></i>
                </button>
              </div>

              <div class="btn-group" role="group">
                <input type="file" id="filePicker" style="display:none;">
                <button type="button" class="btn btn-default" style="height:5vh;border: none;" ng-click="addFile()">
                  <i class="fa fa-file-image-o" aria-hidden="true" style=" font-size:3vh" ></i>
                </button>

              </div>

              <div class="btn-group dropdown" role="group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" style="height:5vh;border: none;" ng-click="fabric.Object.prototype.selectable = false; canvas.isDrawingMode = false; canvas.selection = false;">
                  <i title="Shapes" class="fa fa-clone dropdown-toggle" data-toggle="dropdown" aria-hidden="true" style=" font-size:3vh" ><span class="caret"></span></i>
                </button>
                <ul class="dropdown-menu">
                  <li style="font-size:1.5vh;"><a ng-click="mode = 'rect'; canvas.isDrawingMode = false; ">Rectangle</a></li>
                  <li style="font-size:1.5vh;"><a ng-click="mode = 'circle'; canvas.isDrawingMode = false;">Circle</a></li>
                  <li style="font-size:1.5vh;"><a ng-click="mode = 'triangle'; canvas.isDrawingMode = false;">Triangle</a></li>
                </ul>
              </div>

            </div>
          </div>

          <div class="col-md-3" style="padding:7px;">
            <div id=colors>
              <div class="col-md-2">
                <button ng-click="col='blue'; canvas.freeDrawingBrush.color='blue';" style="width:3vh; height:3vh; border:0; background-color: blue;"></button>
              </div>
              <div class="col-md-2">
                <button ng-click="col='red'; canvas.freeDrawingBrush.color='red';" style="width:3vh; height:3vh; border:0; background-color: red;"></button>
              </div>
              <div class="col-md-2">
                <button ng-click="col='green'; canvas.freeDrawingBrush.color='green';" style="width:3vh; height:3vh; border:0; background-color: green;"></button>
              </div>
              <div class="col-md-2">
                <button ng-click="col='yellow'; canvas.freeDrawingBrush.color='yellow';" style="width:3vh; height:3vh; border:0; background-color: yellow;"></button>
              </div>
              <div class="col-md-2">
                <button ng-click="col='black'; canvas.freeDrawingBrush.color='black';" style="width:3vh; height:3vh; border:0; background-color: black;"></button>
              </div>
            </div>
          </div>
          <div class="col-md-2" style="padding-top:10px;">
            <div class="col-md-4">
              <span style="padding-top:10px; height: 20px; width: 20px; background-color: {{dataVariables.onlineStatus?'green':'red'}}; border-radius: 50%; display: inline-block;"></span>
            </div>
            <div class="col-md-8">
              <span style="margin-bottom:10px;margin-left:10px;">{{dataVariables.onlineStatus?'Online':'Offline'}}</span>
            </div>
          </div>
        </div>

        <div class="row" style="border-top:1px solid #b8b8b8;">
          <div class="col-md-12" style="padding:0px;">
            <div id="canvasContainer" style="overflow-y: auto; overflow-x:hidden; height:87vh; width:100%;">
              <canvas id="tutorCanvas"></canvas>
            </div>
          </div>
          <button ng-click="increaseCanvas(); sendHeight = true;" class="btn btn-primary btn-sm " style="position:fixed;bottom:0px;left:0px;" >+</button>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="col-md-5">

            </div>
          </div>
        </div>
      </div>

      <div class="col-md-3" style="border-left:1px solid #b8b8b8;height:93vh;">
        <div class="row">
          <div class="col-md-3" style="padding-top:20px;">
            <img ng-src="{{teacher.profile.displayPicture}}" class="img-circle" alt="User Image" style="width:60px; height:60px;">
          </div>
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-12">
                <h3>{{teacher.first_name}} {{teacher.last_name}}</h3>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <h5>Id:{{teacher.pk}}</h5>
              </div>
            </div>
            <!-- <div class="row">
              <div class="col-md-12">
                <h5>Average Rating:{{AverageRating}}</h5>
              </div>
            </div> -->
          </div>
          <div class="col-md-3 text-left" style="padding:30px;">
            <span style="color:red;padding-top:22px;" ><i class="fa fa-microphone fa-2x"></i></span>
          </div>
        </div>

        <div class="row" style="border-top:solid 2px #eeeeee;">
          <div class="col-md-12">
            <div id="scrollbar" class="panel-body" style="overflow-y: auto; overflow-x:hidden; height:66vh;">

              <div class="row" ng-repeat="m in messages">
                <div class="container-fluid {{m.sendByMe? 'pull-right': 'pull-left'}}" >
                  <div class="container-fluid text-right" style="border:solid 1px #eeeeee;padding:10px;">
                    {{m.message}}
                  </div>
                  <div class="container-fluid text-right" style="color:#c7c7c7;font-size:10px;">
                    {{m.created |timeAgo}}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row" style="position:absolute;bottom:0px;padding:10px;width:100%;">
          <div class="input-group">
            <span class="input-group-btn"><button class="btn btn-primary" type="submit"> <i class="fa fa-paperclip"></i> </button></span>
            <input class="form-control" type="text" ng-enter="EnterStudentMsg()"  ng-model="StudentText" placeholder="Type your message here..." />
            <span class="input-group-btn"><button ng-click="EnterStudentMsg()" class="btn btn-primary">Submit</button></span>
          </div>
        </div>

      </div>
    </div>

  </div>

{% endverbatim %}
</body>
