
.ngCalOptions >li >a:hover ,.ngCalOptions >li >a:focus , .highlighted , .inlistForm:hover {
  background: rgba(0, 0, 0, 0.2) none repeat scroll 0% 0%;
}

.ngCalOptions >li >a{
  text-decoration: none;
  box-sizing: border-box;
  color: #fff;

}

#Menual{
  /*background: url('/static/images/newsheader.jpg') no-repeat top center/cover;*/
  height: 150px;
  background: url('/static/images/medical.jpg') no-repeat top center/cover;
}

#Annual{
  /*background: url('/static/images/newsheader.jpg') no-repeat top center/cover;*/
  height: 150px;
  background: url('/static/images/vacation1.jpg') no-repeat top center/cover;
}

#Casual{
  /*background: url('/static/images/newsheader.jpg') no-repeat top center/cover;*/
  height: 150px;
  background: url('/static/images/casual.jpeg') no-repeat top center/cover;
}
