<div class="col-md-6 col-md-offset-3" ng-controller="sudo.manageUsers.editDesignation">
<br>
<div class="text-center">  
  <h3>Designation for {{form.user | getName}}</h3>
</div>

  <div class="form-group">
    <label>ReportingTo</label>
    <input uib-typeahead="Reporting as Reporting.username for Reporting in Reporting($viewValue)" ng-model="form.reportingTo" type="text" class="form-control" placeholder="Select division">
  </div>

  <div class="form-group">
    <label>PrimaryApprover</label>
    <input  uib-typeahead="Reporting as Reporting.username for Reporting in Reporting($viewValue)" ng-model="form.primaryApprover" type="text" class="form-control" placeholder="Select Unit">
  </div>

  <div class="form-group">
    <label>SecondaryApprover</label>
    <input  uib-typeahead="Reporting as Reporting.username for Reporting in Reporting($viewValue)" ng-model="form.secondaryApprover"  type="text" class="form-control" placeholder="Select department">
  </div>

  <div class="form-group">
    <label>Division</label>
    <input uib-typeahead="div as div.name for div in divisionSearch($viewValue)" ng-model="form.division" type="text" class="form-control" placeholder="Add division name">
  </div>

  <div class="form-group">
    <label>Unit</label>
    <input uib-typeahead="units as units.name for units in unitSearch($viewValue)" ng-model="form.unit" type="text" class="form-control" placeholder="Select units">
  </div>

  <div class="form-group">
    <label>Department</label>
    <input uib-typeahead="department as department.dept_name for department in depSearch($viewValue)" ng-model="form.department" type="text" class="form-control" placeholder="Select department">
  </div>

  <div class="form-group">
    <label>Roles</label>
    <input uib-typeahead="div as div.name for div in roleSearch($viewValue)" ng-model="form.role" type="text" class="form-control" placeholder="Add division name">
  </div>



  <div class="btn-group ">
    <button type="button" class="btn btn-primary " ng-click="save()">Save</button>
  </div>
</div>
