<div class="shaddowed card bg-white " style="position:relative;min-height:100vh;">
  <breadcrumb></breadcrumb>
  <!-- <div class="container-fluid">
    <h2>Profile</h2>
  </div> -->

  <div class="container-fluid">

    <div class="col-md-6 col-md-offset-3">
      <h2>Profile</h2>
      <div class="row">
        <div class="col-md-10">
          <div class="form-group">
            <label>Gender </label><br>
            <div class="col-md-3">
              <input type="radio" name="gender" value="M" ng-model="form.gender"><span> Male</span>
            </div>
            <div class="col-md-9">
              <input type="radio" name="gender" value="F" ng-model="form.gender"><span> Female</span>
            </div><br><br>
          </div>
          <div class="form-group" ng-show="form.isTutor = false">
            <label>Where do you study? </label><br>
            <div class="col-md-3">
              <input type="radio" name="standard" value="S" ng-model="form.school"><span> School</span>
            </div>
            <div class="col-md-9">
              <input type="radio" name="standard" value="C" ng-model="form.school"><span> College</span>
            </div><br><br>
          </div>
        </div>
        <div class="col-md-2" style="top:y 40px;">
          <img style="width: 100%;" class="img img-circle" ng-src="/static/images/img_avatar_card{{form.gender == 'M'? '':'2'}}.png">
          <!-- <img ng-if="form.dp[0] == 'h'" style="width: 100%;" class="img img-circle" ng-src="{{form.dp}}" > -->
        </div>

      </div>

      <div class="form-group">
        <label>School / College Name</label>
        <input type="text " class="form-control" ng-model="form.schoolName">
      </div>

      <div class="form-group" ng-show="form.isTutor = false">
        <label>Class</label>
        <select class="form-control" ng-model="form.standard">
          <option value="1">Class 1</option>
          <option value="2">Class 2</option>
          <option value="3">Class 3</option>
          <option value="4">Class 4</option>
          <option value="5">Class 5</option>
          <option value="6">Class 6</option>
          <option value="7">Class 7</option>
          <option value="8">Class 8</option>
          <option value="9">Class 9</option>
          <option value="10">Class 10</option>
          <option value="11">Class 11</option>
          <option value="12">Class 12</option>
          <option value="13">Entrence Exam Preparation </option>
          <option value="14">Undergraduates Programs</option>
        </select>
      </div>

      <div class="form-group">
        <label>Mobile</label>
        <input type="tele " class="form-control" ng-model="form.mobile">
      </div>
      <div class="form-group" ng-show="form.isTutor = false">
        <label>Parent Email</label>
        <input type="text" class="form-control" ng-model="form.parentEmail">
      </div>
      <div class="form-group" ng-show="form.isTutor = false">
        <label>Parent Mobile</label>
        <input type="tele " class="form-control" ng-model="form.parentMobile">
      </div>

      <div class="form-group">
        <label>Address</label>
        <input placeholder="Street" type="text " class="form-control" ng-model="form.street">
        <div class="row" style="margin-top:5px;">
          <div class=" col-md-6">
            <input placeholder="City" type="text " class="form-control" ng-model="form.city">
          </div>
          <div class="col-md-6">
            <input placeholder="State" type="text " class="form-control" ng-model="form.state">
          </div>

        </div>
        <div class="row" style="margin-top:5px;">
          <div class=" col-md-6">
            <input placeholder="pincode" type="tele " class="form-control" ng-model="form.pinCode">
          </div>
          <div class="col-md-6">
            <input placeholder="Country" type="text " class="form-control" ng-model="form.country">
          </div>
        </div>
      </div>

      <button type="button" class="btn btn-primary " ng-click="saveTutorProfile()">Save </button>


    </div>



  </div>
</div>
