<div class="modal-header">
  Feedback
</div>

<div class="modal-body">
  <h1>{{form.rating}}</h1>
  <div class="row text-center">
    <i class="fa fa-star fa-3x" style="color:yellow;" ng-repeat="s in [1,2,3,4,5]" ng-click="form.rating = s"></i>
  </div>
  <div class="row" style="margin-top:30px;padding:20px;">
    <textarea class="form-control" ng-model="form.feedbackText" rows="8" cols="80"></textarea>
  </div>
  <div class="row text-center" style="margin-top:30px;">
    <button type="button" class="btn btn-primary" ng-click="save()">Submit</button>
  </div>

</div>
