<div class="shaddowed card bg-white " style="position:relative;min-height:100vh;">
  <breadcrumb></breadcrumb>

  <div class="col-md-6">
    <div class="row text-center" style="margin-top:40px;">
      <switch ng-model="online" class="success"></switch> <br>
      {{online ? 'Online':'Offline'}}
    </div>
  </div>
  <div class="col-md-6" style="padding:40px;padding-top:0px;">
    <div class="row text-center">
      <h3 class="text-center text-primary">Recent Sessions</h3>
    </div>
    <hr>

    <div class="row" style="margin-top:20px;" ng-repeat="c in recentSession">
      <div class="container-fluid card" style="border-right:solid 4px #d2366d;padding:20px;min-height:20vh">
        <div class="row">
          <div class="col-md-3">
            <label>Subject</label> <br>
            <span style="margin-top:20px;">{{c.subject.title}}</span>
          </div>
          <div class="col-md-3">
            <label>Topic</label> <br>
            <span style="margin-top:20px;">{{c.topic.title}}</span>
          </div>
          <div class="col-md-3">
            <label>Session Time</label> <br>
            <span style="margin-top:20px;">{{c.start | date : 'dd-MMM-yyyy hh:mm a'}}</span>
          </div>
          <div class="col-md-3">
            <label>Duration</label> <br>
            <span style="margin-top:20px;" ng-init="a = getTimeDiff(c.start,c.end)">{{a}}</span>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-4">
            <label>Tutor</label> <br>
            <span style="margin-top:20px;">{{c.tutor | getName}}</span>
          </div>
          <div class="col-md-4">
            <div class="row" ng-if="c.ratings != null">
              <label>Rating</label> :
              <span style="margin-top:20px;">{{c.ratings}}/5</span> <br>
              <span class="fa fa-star" style="color:#d2366d;" ng-show="c.ratings >= 1"></span>
              <span class="fa fa-star" style="color:#d2366d;" ng-show="c.ratings >= 2"></span>
              <span class="fa fa-star" style="color:#d2366d;" ng-show="c.ratings >= 3"></span>
              <span class="fa fa-star" style="color:#d2366d;" ng-show="c.ratings >= 4"></span>
              <span class="fa fa-star" style="color:#d2366d;" ng-show="c.ratings == 5"></span>
              <span class="fa fa-star" ng-show="c.ratings <= 4"></span>
              <span class="fa fa-star" ng-show="c.ratings <= 3"></span>
              <span class="fa fa-star" ng-show="c.ratings <= 2"></span>
              <span class="fa fa-star" ng-show="c.ratings <= 1"></span>
            </div>
          </div>
          <!-- <div class="col-md-4">
            <div class="row" style="margin-top:20px;margin-right:5px">

              <span><strong><i class="fa fa-arrows-alt fa-lg pull-right" style="cursor:pointer;font-size:25px" ng-click="rowActionClicked('details')"></i> </strong></span>
            </div>
          </div> -->
        </div>

      </div>
    </div>

    <!-- <div class="row text-primary text-center" style="margin-top:30px;cursor:pointer;">
      <a ui-sref="previousSessions">Show more</a>
    </div> -->

  </div>


</div>
