<div class="modal-header">
  Feedback
</div>

<div class="modal-body" >

  <div ng-if="mode != 'thankyou'">
    <div class="row text-center">
      <span ng-repeat="s in [1,2,3,4,5]">
        <i class="fa {{ s> form.rating?  'fa-star-o':'fa-star'}} fa-3x" style="color:yellow;" ng-click="form.rating = s"></i>
      </span>
    </div>
    <div class="row" style="margin-top:30px;padding:20px;">
      <textarea class="form-control" ng-model="form.feedbackText" rows="8" cols="80"></textarea>
    </div>
    <div class="row text-center" style="margin-top:30px;">
      <button type="button" class="btn btn-primary" ng-click="save()">Submit</button>
    </div>
  </div>

  <div class="text-muted text-center" ng-if="mode == 'thankyou'">
    <h2 class="text-muted" style="margin-top:200px;">Thank you, please close this window.</h2>
  </div>

</div>
