<div class="modal-header">
  Add more time to continue clearing your doubts
</div>

<div class="modal-body">

  <div class="row">
    <div class="container-fluid">
      <div class = "input-group">
         <input ng-model="form.minutes" type = "text" class = "form-control" onkeydown='return (event.which >= 48 && event.which <= 57) || event.which == 8 || event.which == 46 || event.which == 9 ||( event.which > 94 && event.which <106)'>

         <span class = "input-group-btn">
            <button ng-click="add(100)" class = "btn btn-default" type = "button">
               +100
            </button>
         </span>

         <span class = "input-group-btn">
            <button ng-click="add(200)" class = "btn btn-default" type = "button">
               +200
            </button>
         </span>

         <span class = "input-group-btn">
            <button ng-click="add(300)" class = "btn btn-default" type = "button">
               +300
            </button>
         </span>

      </div>



    </div>
  </div>

  <hr>

  <div class="row" style="margin-top:30px;">
    <div class="col-md-4 text-center" style="padding-top:40px;">
      <h4 class="text-muted">
        Do you have promo code?
      </h4>
      <div class = "input-group">
         <input ng-model="form.promo" type = "text" class = "form-control">

         <span class = "input-group-btn">
            <button ng-click="addPromoCode()" class = "btn btn-default" type = "button">
               Apply
            </button>
         </span>



      </div><!-- /input-group -->
      <div class="row text-center">
        <p ng-if="form.promoStatus != null" class="help-text text-{{form.promoStatus == true ? 'success':''}}{{form.promoStatus == false ? 'danger':''}}">
          <span ng-if="!form.promoStatus">Invalid promo code</span>
          <span ng-if="form.promoStatus">Promo code applied</span>
        </p>
      </div>

    </div>
    <div class="col-md-8" ng-if="form.minutes">
      <div class="row text-center">
        <h4 class="text-muted">Payment details</h4>
      </div>
      <hr>

      <div class="row">
        <div class="col-md-6 text-right">
          <strong>Minutes</strong>
        </div>
        <div class="col-md-6">
          {{form.minutes}}
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 text-right">
          <strong>Rate</strong>
        </div>
        <div class="col-md-6">
          {{form.rate}} <i class="fa fa-inr"></i> /Hour
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 text-right">
          <strong>Total</strong>
        </div>
        <div class="col-md-6">
          {{getTotal()}} <i class="fa fa-inr"></i>
        </div>
      </div>

      <div class="row" ng-if="form.promoStatus == true">
        <div class="col-md-6 text-right">
          <strong>Discount (Promo code : {{form.promo}})</strong>
        </div>
        <div class="col-md-6">
          - {{getDicount()}} <i class="fa fa-inr"></i>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 text-right">
          <strong>Tax (18%)</strong>
        </div>
        <div class="col-md-6">
          {{getTax()}} <i class="fa fa-inr"></i>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 text-right">
          <strong>Grand Total</strong>
        </div>
        <div class="col-md-6">
          <span style="font-size:25px;">{{getGrand()}} <i class="fa fa-inr"></i></span>
        </div>
      </div>

      <form style="display:none;" action="https://securegw.paytm.in/theia/processTransaction" method="post">
        <input type="text" name="{{key}}" value="{{value}}" ng-repeat="(key, value) in paymentParams">
        <button type="submit" class="btn btn-default" id="paymentSubmit">
        </button>
      </form>



      <div class="row text-center" style="margin-top:30px;">
        <button type="button" class="btn btn-success" ng-click="makePayment()">
          Pay
        </button>
      </div>

    </div>
  </div>



</div>
