<!-- 
<div class="shaddowed card bg-white" style="min-height:93vh; position:relative;">
  <div class="container-fluid" style="padding:0px;">
    <breadcrumb></breadcrumb>

    <div class="container-fluid">
      <uib-tabset>
        <uib-tab>
          <uib-tab-heading>
            New <i class="fa fa-plus"></i>
          </uib-tab-heading>
          <div style="margin-top:20px;" ng-include="'/static/ngTemplates/app.recruitment.form.html'">

          </div>
        </uib-tab>
        <uib-tab>
          <uib-tab-heading>
            Active <i class="fa fa-list-ul"></i>
          </uib-tab-heading>
          <div style="margin-top:20px;" ng-include="'/static/ngTemplates/app.recruitment.jobs.html'">

          </div>
        </uib-tab>

          <uib-tab active="searchTabActive">
              <uib-tab-heading>
                  All
                  <i class="fa fa-list-ul"></i>
              </uib-tab-heading> -->
              <!-- <div class="container-fluid">
                  <generic-Table data="data.tableData" config-Obj="{{config}}" callback-Fn="tableAction"></generic-Table>
              </div> -->
          <!-- </uib-tab>

          <uib-tab ng-repeat="tab in tabs" active="tab.active" disable="tab.disabled">
              <uib-tab-heading >
                  {{tab.title}}
                  <i ng-if="tab.cancel" class="fa fa-close" ng-click="closeTab($index);"></i>
              </uib-tab-heading>
              <div ng-if="tab.app == 'contactEditor'">
                  <div ng-include="'/static/ngTemplates/app.clientRelationships.contact.form.html'"></div>
              </div>
              <div ng-if="tab.app == 'contactExplorer'">
                  <div ng-include="'/static/ngTemplates/app.clientRelationships.contact.explore.html'"></div>
              </div>
          </uib-tab>
      </uib-tabset>
    </div> -->


  <!-- Tab panes -->
<!--
    <br>
      <h3>HOME</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

    <div id="menu1" class="container tab-pane fade"><br>
      <h3>Menu 1</h3>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
    <div id="menu2" class="container tab-pane fade"><br>
      <h3>Menu 2</h3>
      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
    </div>
  </div> -->
<!--
<br>
</div>
</div> -->
