<div ng-controller="workforceManagement.organization.responsibilities.form">

  <div class="container-fluid">
    <h2 ng-if="mode == 'new'">Create a new responsibility</h2>
    <h2 ng-if="mode == 'edit'">Edit responsibility : {{form.title}}</h2>
  </div>

  <div class="row">
    <div class="container-fluid">
      <div class="col-md-6">

        <div class="form-group">
          <label>Name</label>
          <input type="text" class="form-control" ng-model="form.title">
        </div>
        <div class="form-group">
          <label>Data</label>
          <input type="text" class="form-control" ng-model="form.data" placeholder="Ex : 7,5,9,....">
          <p class="help-block">Please Enter Comma Seperated Numbers</p>
        </div>

        <div class = "input-group">
          <input ng-model="form.departmentTxt" uib-typeahead="department as department.dept_name for department in departmentSearch($viewValue)" type="text" class="form-control" placeholder="Search using Department name" >
          <span class = "input-group-btn">
            <button class = "btn btn-primary" type = "button" ng-click="addDepartment()">
              Add <i class="fa fa-plus"></i>
            </button>
          </span>
        </div><!-- /input-group -->
        <div class="row" style="margin-top:20px;">
          <div class="col-md-4" ng-repeat="d in form.departments">
            <div class="container-fluid card" style="padding:10px;font-size:18px"  style="margin:5px;">
              <i class="fa fa-times-circle pull-right" style="cursor:pointer" ng-click="removeDepartment($index)"></i>
              {{d.dept_name}}
            </div>
          </div>
        </div>




        <div class="btn-group" style="margin-top:20px;">
          <button type="button" class="btn btn-success" ng-click="save()">
            Save <i class="fa fa-save"></i>
          </button>
          <button ng-click="resetForm()" type="button" class="btn btn-default" ng-if="mode == 'new'">
            Reset
          </button>
        </div>

      </div>

    </div>
  </div>






</div>
