 <div class="container-fluid card" style="padding:20px; border-left:4px solid #0c9a9e;position:relative;">
  <div class="row">
    <strong> Order No. : #{{data.pk}} </strong>
  </div>
  <div class="row">
    <div class="col-md-9">
      <div class="row">
        <div class="col-md-3">
          <span style="font-size:15px;" > Total Amount : <i class="fa fa-inr"></i> {{data.totalAmount}} </span>
        </div>
        <div class="col-md-3">
          <span style="font-size:15px;" > Payment Mode : {{data.paymentMode}} </span>
        </div>
        <div class="col-md-3">
          <span style="font-size:15px;" >  Approved :{{data.approved}} </span>
        </div>
        <div class="col-md-3">
          <span style="font-size:15px;" > Status : {{data.status}} </span>
        </div>

      </div>
      <div class="row">

      </div>

    </div>
    <div class="col-md-3">
      <div class="row">
        <div class="col-md-6">
           <i class="fa fa-info fa-2x" style="cursor:pointer;" ng-click="rowActionClicked('toggleInfo')"></i>
        </div>
        <div class="col-md-6">
          <!-- <button type="button" name="button" class="btn btn-success" > Cancel </button> -->
            <a href="/api/ecommerce/downloadInvoice/?value={{data.pk}}" target="_blank"><button class="btn btn-primary pull-right"><i class="fa fa-download "></i> Download Invoice</button></a>
        </div>
      </div>
    </div>
  </div>
  <div class="row anim-in-out anim-fade"  data-anim-speed="200" ng-if="data.showInfo">
    <hr>
    <div class="container-fluid">
      <div class="col-md-3">
        <div class="row">
          <strong>Address :</strong>
          <span ng-if="data.street"> {{data.street}} ,</span>
          <span ng-if="data.city"></span>  {{data.city}} ,
          <span ng-if="data.state"></span>  {{data.state}} ,
          <span ng-if="data.pincode"></span>  {{data.pincode}} ,
         <span ng-if="data.landMark"></span> landmark - {{data.landMark}}
        </div>
        <div class="row">
          <strong>Mobile :</strong> <span ng-if="data.mobileNo" > {{data.mobileNo}}</span>
        </div>
      </div>
      <div class="col-md-6" style="border-left: 1px solid #e0e0e0;" >
        <div class="row">
          <div class="col-md-offset-1 col-md-4">
            <strong>Products </strong>
          </div>
          <div class="col-md-1">
            <strong>Qty </strong>
          </div>
          <div class="col-md-3">
            <strong>Amount</strong>
          </div>
          <div class="col-md-3">
            <strong>Status </strong>
          </div>
        </div>
        <div class="row" ng-repeat="i in data.orderQtyMap">
          <div class="col-md-1">
             <input type="checkbox" ng-model="i.selected" >
          </div>
          <div class="col-md-4">
            {{i.productName.slice(0,25)}}
          </div>
          <div class="col-md-1">
            {{i.qty}}
          </div>
          <div class="col-md-3">
            <i class="fa fa-inr"></i> {{i.ppAfterDiscount.toFixed(2)}}
          </div>
          <div class="col-md-3">
            {{i.status}}
          </div>
        </div>
        
      </div>
      <div class="col-md-3 text-center" >
        <div class="row">
          <div class="btn-group">
          <button  type="button" name="button" class="btn btn-danger" ng-click="rowActionClicked('cancel')" > Cancel </button>
          <button  type="button" name="button" class="btn btn-primary" ng-click="rowActionClicked('return')" > Return </button>
        </div>
        </div>
        <div class="row">
          <span class="text-muted"> Select one or more item to cancel or return </span>
        </div>
        <div class="row">
          <span ng-if="data.promoCode" > Coupon Applied:  {{data.promoCode}} - {{data.promoDiscount}} % </span>
        </div>
      </div>
      <!-- <div class="col-md-2">
        <div class="btn-group-vertical">
          <button type="button" ng-click="requestConfirmation('sms')" class="btn btn-default">
            Request SMS
          </button>
          <button type="button" ng-click="requestConfirmation('email')" class="btn btn-default">
            Request Email
          </button>
          <button type="button" ng-click="showMap()" class="btn btn-success">
            Show map
            <i class="fa fa-map-marker"></i>
          </button>
        </div>
      </div> -->
    </div>
  </div>
</div>


<!-- <div class="container-fluid card" style="padding:10px;border-left:4px solid #0c9a9e;position:relative;">
  <div class="row">
    <div class="col-md-2">
      <div class="row" style="padding-left:17px;">
        <i class="fa fa-motorcycle fa-3x"></i>
      </div>
      <div class="row" style="margin-top:10px;">
        <span style="font-size:20px;margin-left:13px;">Title</span>
      </div>
    </div>
    <div class="col-md-4">
      <div class="row" style="padding-left:10px;">
        <i class="fa fa-calendar fa-2x"></i> <span style="font-size : 18px;margin-left:10px;">Booking # {{data.pk}}</span>
      </div>
      <div class="row" style="margin-top:10px;">
        <div class="col-md-3">
          From : <br>
          To :
        </div>
        <div class="col-md-9">
          {{data.start | date : 'dd-MMM-yyyy : HH:MM a'}} <br>
          {{data.end | date : 'dd-MMM-yyyy : HH:MM a'}}
        </div>
      </div>
    </div>
    <div class="col-md-1">
      <div class="row" style="padding-left:10px;">
        <i class="fa fa-clock-o fa-3x"></i>
      </div>
      <div class="row" style="margin-top:10px;">
        <span style="font-size:20px;">{{bookingTime()}} Hrs</span>
      </div>
    </div>
    <div class="col-md-2" style="padding-top:20px;">
      <i class="fa fa-3x fa-inr"></i>
      <span style="font-size:23px;top:-8px;position:relative;margin-left:10px;">{{getBookingAmount()}}</span>
      <small style="margin-left:20px;">@ {{data.rate}}</small>
    </div>
    <div class="col-md-1 " >
      <div class="row hoverableDiv">
        <div style="display:block;box-sizing: border-box;text-align:center;">
          <a ng-href="{{getInvoiceLink()}}" class="fa fa-print fa-2x" style="color:#000000 !important;text-decoration: none !important;"></a> <br>
          <span >Print Invoice</span>
        </div>
      </div>
      <div class="row ">
        <span class="dropdown" ng-if="['new' , 'inProgress'].indexOf(data.status) != -1" >
          <i style="cursor:pointer;margin-left:37%;" class="fa fa-ellipsis-h fa-2x" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"></i>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li ng-if="['new'].indexOf(data.status) != -1"><a href="" ng-click = "cancelBooking('canceledByCustomer')"><i class="fa fa-close"></i> Cancel</a></li>
          </ul>
        </span>
      </div>
    </div>
    <div class="col-md-1 text-center" style="padding:20px;">
      <i class="fa fa-info fa-2x" style="cursor:pointer;" ng-click="toggleInfo()"></i>
    </div>
    <div class="col-md-1 " style="position:absolute;height:100%;top:0px;right:0px;padding-top:15px;text-align:center;">
      <i class="fa {{getStatusClass(data.status)}} fa-3x" ></i>
      <br>
      <span style="font-size:11px;margin-top:10px;width:200px;position:relative;">
        <span ng-if="data.status != 'canceledByCustomer'">{{data.status | humanize}}</span>
        <span ng-if="data.status == 'canceledByCustomer'">Canceled</span>
      </span>
    </div>
  </div>
  <div class="row anim-in-out anim-fade"  data-anim-speed="200" ng-if="showInfo">
    <hr>
    <div class="container-fluid">
      <div class="col-md-10">
        <div class="row">
          <div class="col-md-2">
            Address
          </div>
          <div class="col-md-5">
            {{data.offer.service.address.street}} <br>
            {{data.offer.service.address.city}} <br>
            {{data.offer.service.address.state}} <br>
            {{data.offer.service.address.pincode}}
          </div>
        </div>
        <div class="row">
          <div class="col-md-2">
            Name
          </div>
          <div class="col-md-5">
            {{data.offer.service.name}}
          </div>
        </div>
        <div class="row">
          <div class="col-md-2">
            Mobile
          </div>
          <div class="col-md-5">
            {{data.offer.service.mobile}}
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="btn-group-vertical">
          <button type="button" ng-click="requestConfirmation('sms')" class="btn btn-default">
            Request SMS
          </button>
          <button type="button" ng-click="requestConfirmation('email')" class="btn btn-default">
            Request Email
          </button>
          <button type="button" ng-click="showMap()" class="btn btn-success">
            Show map
            <i class="fa fa-map-marker"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div> -->
