<div>
  <div class="modal-header text-center">
    <h4>Add Title</h4>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label>Title : </label>
      <input ng-model="adrForm.title" type="text" class="form-control">
    </div>
    <div class="form-group">
      <input type="checkbox" ng-model="adrForm.primary">
      <label>Primary Address </label>
    </div>
    <div class="row text-center" style="padding-top:35px">
      <button ng-click="saveAdrForm()" type="button" class="btn btn-primary">
        Save
      </button>
    </div>
  </div>
</div>
