<div class="container-fluid" >
  <generic-Table data="data.tableData" config-Obj="{{config}}" callback-Fn="tableAction" ></generic-Table>
  <div class="row text-center" ng-if="data.tableData.length==0" style="padding-top:20vh;" >
    <img src="/static/images/emptycart.png" alt="">
    <h2 class="text-muted text-center" >Your Shopping Cart is empty</h2>
  </div>
  <div class="row" ng-if="data.tableData.length>0" style="padding-top:50px; padding-left:50px;" >
    <div class="col-md-6 col-xs-7 col-sm-6 ">
       <span style="font-size:20px;" >Total: {{total.toFixed(2)}} <i class="fa fa-inr"></i>  </span>
    </div>
    <div class="col-md-6 col-xs-4 col-sm-6">
      <span class="pull-right"> <button type="button" name="button" class="btn btn-success" ng-click="checkout()" >Checkout</button> </span>
    </div>
  </div>
</div>
