<div class="col-xs-2 text-center">
  <div class="row">
    <i class="fa fa-user fa-2x"></i>
  </div>
  <span class="text-center" style="color: white;" > Accounts</span>
</div>
<div class="col-xs-2 text-center" ng-click="$state.go('account.cart')" ng-class="{activeTopTab: $state.is('account.cart')}">
  <div class="row" style="padding:0px;" >
      <i class="fa fa-shopping-cart"></i>
  </div>
  <span style="color: white;" > Cart </span>
</div>
<div class="col-xs-2  text-center" ng-click="$state.go('account.orders')" ng-class="{activeTopTab: $state.is('account.orders')}">
  <div class="row" style="padding:0px;">
      <i class="fa fa-truck"></i>
  </div>
  <span style="color: white;" > Orders </span>
</div>
<div class="col-xs-2  text-center" ng-click="$state.go('account.settings')" ng-class="{activeTopTab: $state.is('account.settings')}">
  <div class="row" style="padding:0px;">
      <i class="fa fa-wrench"></i>
  </div>
  <span style="color: white;" > Settings </span>
</div>
<div class="col-xs-2  text-center" ng-click="$state.go('account.support')" ng-class="{activeTopTab: $state.is('account.support')}">
  <div class="row" style="padding:0px;">
      <i class="fa fa-phone"></i>
  </div>
  <span style="color: white;" > Support </span>
</div>
<div class="col-xs-2  text-center" ng-click="$state.go('account.saved')" ng-class="{activeTopTab: $state.is('account.saved')}">
  <div class="row" style="padding:0px;">
      <i class="fa fa-heart"></i>
  </div>
  <span style="color: white;" > Saved </span>
</div>
