<div class="container-fluid" ng-controller="projectManagement.LMS.configure.form">

  <div class="row">
    <div class="col-md-1" style="border-right:solid 2px #eeeeee;padding-top:30px;min-height:50vh;">
      <div class="row text-center" ng-click="mode='subject'" style="{{mode == 'subject' ? 'background:#eeeeee;': ''}}padding:20px;cursor:pointer;">
        Subject
      </div>
      <div class="row text-center" ng-click="mode='topic'" style="{{mode == 'topic' ? 'background:#eeeeee;': ''}}padding:20px;cursor:pointer;">
        Topic
      </div>
    </div>
    <div class="col-md-5">

      <div class="form-group" ng-if="mode == 'topic'">
        <label>Subject</label>
        <input type="text" class="form-control" ng-model="form.subject" uib-typeahead="subject as subject.title for subject in subjectSearch($viewValue)">
      </div>
      <div class="form-group">
        <label>Title</label>
        <input ng-model="form.title" type="text" class="form-control">
      </div>

      <div class="form-group">
        <label>Description</label>
        <textarea ng-model="form.description" name="name" class="form-control" rows="8" cols="80"></textarea>
      </div>

      <div class="form-group" ng-if="mode == 'subject'">
        <label>Display Pic</label>
        <input file-model="form.dp" type="file" >
      </div>

      <div class="form-group" ng-if="mode == 'subject'">
        <label>Level</label>
        <input type="number" class="form-control" ng-model="form.level">
      </div>

      <button type="button" class="btn btn-primary" ng-click="save()">
        Save
      </button>

    </div>
  </div>

</div>
