<!-- <div class="shaddowed card bg-white" style="min-height:93vh;position:relative;"> -->
<breadcrumb></breadcrumb>
<div class="container-fluid" style="margin-top: -20px;" ng-controller="projectManagement.LMS.learn">
  <div class="input-group" style="margin:20px" ng-if="overall">
    <span class="input-group-addon" id="basic-addon1"><i class="fa fa-search"></i></span>
    <input type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1">
  </div>
  <div class="row" ng-if="overall">
    <div class="col-md-2" ng-click="video()" ng-if="React">
      <div class="card" style="height:200px;width:200px;margin:50px;padding: 62px">
        <img src="https://d2eip9sf3oo6c2.cloudfront.net/tags/images/000/000/026/thumb/react.png" alt="React" title="react image" style="height:60px;width:60px">
        <div class="container" style="padding:0px">
          <spam style="font-color:#eeeeee;font-size:20px">React</spam>
        </div>
      </div>
    </div>
    <div class="col-md-2" ng-click="video1()" ng-if="Javascript">
      <div class="card" style="height:200px;width:200px;margin:50px;padding: 62px">
        <img src="https://d2eip9sf3oo6c2.cloudfront.net/tags/images/000/000/205/thumb/javascriptlang.png" alt="React" title="react image" style="height:60px;width:60px">
        <div class="container" style="padding:0px">
          <spam style="font-color:#eeeeee;font-size:20px;margin-left: -12px;s">Javascript</spam>
        </div>
      </div>
    </div>
    <div class="col-md-2" ng-click="video2()" ng-if="ReactNative">
      <div class="card" style="height:200px;width:200px;margin:50px;padding: 62px">
        <img src="https://d2eip9sf3oo6c2.cloudfront.net/tags/images/000/000/969/thumb/reactnativelogo.png" alt="React" title="react image" style="height:60px;width:60px">
        <div class="container" style="padding:0px">
          <spam style="font-color:#eeeeee;font-size:20px;margin-left: -12px;">ReactNative</spam>
        </div>
      </div>
    </div>
  </div>
  <div class="row" ng-if="!React" style="padding:20px">
    <div class="col-md-7" ng-repeat="data in Reactvideo">
      <button class="btn btn-default pull-left" ng-click="back()"><i class="fa fa-arrow-left"></i> Back</button></br>
      </br>
      <img src="{{data.image}}" alt="React" title="react image" style="height:90px;width:90px"></br>
      <spam style="font-color:#eeeeee;font-size:30px">{{data.name}}</spam>&nbsp;&nbsp;
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star"></span>
      <span class="fa fa-star"></span>
      <spam>3/5</spam><br/>
      <spam style="font-color:#eeeeee;font-size:15px">{{data.details}}</spam>
    </div>
    <div class="col-sm-5" style="padding-left:10px; border-left:1px solid #eeeeee">
      <ul class="list-group" style="margin-bottom: 0px;" ng-repeat="data in videoForm">
        <div class="row">
          <div class="col-md-7">
            <video controls="false" width="400">
                  <source src="{{data.file}}" type="video/ogg">
            </video>
          </div>
          <div class="col-md-5">
            <spam style="font-color:#eeeeee;font-size:20px">{{data.title}}</spam>
            </br>
            <spam class="text-" style="font-color:#eeeeee;font-size:10px" class="text-muted">{{data.playList}}</spam>
          </div>
        </div>
        <hr>
      </ul>
      <section class="service1">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-3 team" style="background-color:var(--themeMain);width: 400px;height: 200px;text-align: center;">
              <a class="teamdetails-link" data-toggle="modal" ng-click="openUploadForm()">
                <div class="teamdetails-hover">
                  <div class="teamdetails-hover-content" style="position: absolute;top: 50%;width: 100%;height: 20px;margin-top: -145px;text-align: center;font-size: 20px;color: #fff;">
                    <i class="fa fa-plus fa-3x"></i>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
  <div class="row" ng-if="!Javascript" style="padding:20px">
    <div class="col-md-7" ng-if="!Javascript" ng-repeat="data in Javascriptvideo">
      <button class="btn btn-default pull-left" ng-click="back()"><i class="fa fa-arrow-left"></i>Back</button></br>
      </br>
      <img src={{data.image}} alt="React" title="react image" style="height:90px;width:90px"><br/>
      <spam style="font-color:#eeeeee;font-size:30px">{{data.name}}</spam>&nbsp;&nbsp;
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star"></span>
      <span class="fa fa-star"></span>
      <spam>3/5</spam><br/>
      <spam style="font-color:#eeeeee;font-size:15px">{{data.details}}
        <spam>
    </div>
    <div class="col-sm-5" style="padding-left:10px; border-left:1px solid #eeeeee">
      <ul class="list-group" style="margin-bottom: 0px;" ng-repeat="data in videoForm">
        <div class="row">
          <div class="col-md-7">
            <video controls="false" width="400">
                  <source src="{{data.file}}" type="video/ogg">
            </video>
          </div>
          <div class="col-md-5">
            <spam style="font-color:#eeeeee;font-size:20px">{{data.title}}</spam>
            </br>
            <spam class="text-" style="font-color:#eeeeee;font-size:10px" class="text-muted">{{data.playList}}</spam>
          </div>
        </div>
        <hr>
      </ul>
      <section class="service1">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-3 team" style="background-color:var(--themeMain);width: 400px;height: 200px;text-align: center;">
              <a class="teamdetails-link" data-toggle="modal" ng-click="openUploadForm()">
                <div class="teamdetails-hover">
                  <div class="teamdetails-hover-content" style="position: absolute;top: 50%;width: 100%;height: 20px;margin-top: -145px;text-align: center;font-size: 20px;color: #fff;">
                    <i class="fa fa-plus fa-3x"></i>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
  <div class="row" ng-if="!ReactNative" style="padding:20px">
    <div class="col-md-7" ng-repeat="data in Reactnativevideo">
      <button class="btn btn-default pull-left" ng-click="back()"><i class="fa fa-arrow-left"></i>Back</button></br>
      </br>
      <img src="{{data.image}}" alt="React" title="react image" style="height:90px;width:90px"></br>
      <spam style="font-color:#eeeeee;font-size:30px">{{data.name}}</spam>&nbsp;&nbsp;
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star"></span>
      <span class="fa fa-star"></span>
      <span class="fa fa-star"></span>
      <spam>2/5</spam><br/>
      <spam style="font-color:#eeeeee;font-size:15px">{{data.details}}</spam>
    </div>
    <div class="col-sm-5" style="padding-left:10px; border-left:1px solid #eeeeee">
      <ul class="list-group" style="margin-bottom: 0px;" ng-repeat="data in videoForm">
        <div class="row">
          <div class="col-md-7">
            <video controls="false" width="400">
                  <source src="{{data.file}}" type="video/ogg">
            </video>
          </div>
          <div class="col-md-5">
            <spam style="font-color:#eeeeee;font-size:20px">{{data.title}}</spam>
            </br>
            <spam class="text-" style="font-color:#eeeeee;font-size:10px" class="text-muted">{{data.playList}}</spam>
          </div>
        </div>
        <hr>
      </ul>
      <section class="service1">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-3 team" style="background-color:var(--themeMain);width: 400px;height: 200px;text-align: center;">
              <a class="teamdetails-link" data-toggle="modal" ng-click="openUploadForm()">
                <div class="teamdetails-hover">
                  <div class="teamdetails-hover-content" style="position: absolute;top: 50%;width: 100%;height: 20px;margin-top: -145px;text-align: center;font-size: 20px;color: #fff;">
                    <i class="fa fa-plus fa-3x"></i>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
