
<breadcrumb></breadcrumb>
<div class="container-fluid">
  <uib-tabset>
    <uib-tab active="searchTabActive">
      <uib-tab-heading>
        Courses <i class="fa fa-book" aria-hidden="true"></i>
      </uib-tab-heading>
      <div class="container-fluid">
          <generic-Table data="data.tableData" config-Obj="{{config}}" callback-Fn="tableAction"></generic-Table>
      </div>
    </uib-tab>
      <uib-tab>
          <uib-tab-heading>
              Videos
              <i class="fa fa-youtube-play" aria-hidden="true"></i>
          </uib-tab-heading>
          <div class="container-fluid">
              <generic-Table data="data.videosTableData" config-Obj="{{configVideos}}" callback-Fn="tableActionVideos"></generic-Table>
          </div>
      </uib-tab>

      <uib-tab ng-repeat="tab in tabs" active="tab.active" disable="tab.disabled">
          <uib-tab-heading >
              {{tab.title}}
              <i ng-if="tab.cancel" class="fa fa-close" ng-click="closeTab($index);"></i>
          </uib-tab-heading>
          <div ng-if="tab.app == 'explore'">
              <div ng-include="'/static/ngTemplates/app.LMS.learn.opencourse.html'"></div>
          </div>
          <div ng-if="tab.app == 'video'">
              <div ng-include="'/static/ngTemplates/app.LMS.learn.openvideos.html'"></div>
          </div>
      </uib-tab>
  </uib-tabset>
</div>
