<div class="container-fluid" ng-controller="projectManagement.LMS.courses.explore">

  <div style="border-right:solid 2px #eeeeee;padding-top:20px;" class="col-md-3">

    <div class="row">
      <div class="container-fluid">
        <i class="fa fa-book fa-4x"></i> <strong style="font-size:20px;" class="text-muted">{{course.title}}</strong>
      </div>
    </div>

    <hr>

    <div class="row">
      <div class="col-md-4 text-right">
        <strong>Created</strong>
      </div>
      <div class="col-md-8">
        {{course.created | timeAgo}}
      </div>
    </div>
    <br><br>
    <div class="row">
      <div class="col-md-4 text-right">
        <strong>Updated</strong>
      </div>
      <div class="col-md-8">
        {{course.updated | timeAgo}}
      </div>
    </div>

    <br><br>
    <div class="row">
      <div class="col-md-4 text-right">
        <strong>Instructor</strong>
      </div>
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-4">
            <img ng-src="{{course.instructor | getDP}}" style="height:55px;width:55px;" class="img img-rounded">
          </div>
          <div class="col-md-8">
            {{course.instructor | getName}}
          </div>
        </div>
      </div>
    </div>

    <br><br>
    <div class="row">
      <div class="col-md-4 text-right">
        <strong>Teaching Assistants</strong>
      </div>
      <div class="col-md-8">
        <div style="margin-bottom:10px;" class="row" ng-repeat="ta in course.TAs">
          <div class="col-md-4">
            <img ng-src="{{ta | getDP}}" style="height:55px;width:55px;" class="img img-rounded">
          </div>
          <div class="col-md-8">
            {{ta | getName}}
          </div>
        </div>

      </div>
    </div>

    <br><br>
    <hr>

    <div class="row text-center">
      <label class="text-muted" style="font-size:20px;">Students <i class="fa fa-users fa-2x"></i></label>

      <div ng-if="course.enrollments.length == 0">
        <br><br><br> <span style="text-color:#eeeeee;">No student in this course</span>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-3 col-sm-6 col-xs-12" ng-repeat = "enrollment in course.enrollments">
        <span class="info-box-icon" style="background-color:white;">
          <div class="row">
            <img style="width: 50%;" class="img" ng-src="{{enrollment.user | getDP}}">
          </div>
          <div class="row {{$index | rainbow}}" style="background:white;height:40px; margin-bottom:10px;">
            <span style="color:black;font-size:12px;color:white; top:-25px;position:relative;">{{enrollment.user | getName}}</span>
          </div>
        </span>
      </div><!-- /.col -->
    </div>

    <br><br>

    <div class="row" >
      <div class="col-md-9">
        <user-field url="/api/HR/userSearch/" user="enrollmentForm.user" label = "Add student" ></user-field>
      </div>
      <div class="col-md-3" style="padding-top:25px;">
        <button type="button" class="btn btn-primary" ng-click="addEnrollment()">
          Add <i class="fa fa-plus"></i>
        </button>
      </div>

    </div>

  </div>
  <div class="col-md-9">

    <tabs-Strip tabs="tabs" active="activeTab"></tabs-Strip>

    <div class="row">
      <div class="container-fluid" ng-if="activeTab == 0 || activeTab == 1">
        <div class="col-md-3">
          <i class="fa fa-{{ activeTab == 0 ?  'file-o':'video-camera'}} fa-4x text-muted pull-right"></i>
        </div>
        <div class="col-md-8">
          <div class="form-group">
            <label>Attachment</label>
            <input type="file" file-model="studyMaterialForm.attachment">
            <p class="help-block">Browse a file to be attached</p>
          </div>
        </div>
        <div class="col-md-1" style="padding-top:30px;">
          <button type="button" class="btn btn-default" ng-click="saveFile()">
            Save <i class="fa fa-floppy-o"></i>
          </button>
        </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="container-fluid" ng-if="activeTab == 3">
        <center><button type="button" class="btn btn-primary btn-md" ng-click="open()">ADD <i class="fa fa-plus"></i></button></center>
      </div>
      <div class="container-fluid">
        <div class="row" style="padding:20px;" ng-repeat="sm in course.studyMaterials">
          <div class="card" style="padding:10px;">
            <div class="row" ng-if="sm.typ == 'file'">
              <div class="col-md-10">
                <i class="fa fa-file-o fa-3x"></i> <a href="{{sm.attachment}}" target="_blank">{{sm.attachment.split('/')[sm.attachment.split('/').length -1]}}</a>
              </div>
              <div class="col-md-2">
                <span class="text-muted">{{sm.created | timeAgo}}</span>
              </div>
            </div>
            <div class="row" ng-if="sm.typ == 'video'">
              <div class="col-md-10">

                <video width="400" controls>
                  <source ng-src="{{sm.attachment}}" type="video/mp4">
                  Your browser does not support HTML5 video.
                </video>
              </div>
              <div class="col-md-2">
                <span class="text-muted">{{sm.created | timeAgo}}</span>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>


  </div>


</div>
