<div class="col-md-3 " style="padding-bottom:20px;padding-left:10px;padding-right:10px;" >

  <div class="container-fluid card" style="padding-bottom:10px;">
    {{data.ques}} <br>
    <label>Title :</label>{{data.title}} <br>
    <label>Registration Type :</label>{{data.enrollmentStatus | humanize}} <br>
    <br>
    {{data.description}} <br> <br>
    <i class="fa fa-pencil" style="cursor:pointer;" ng-click="rowActionClicked('edit')"></i>
    <i class="fa fa-info pull-right" style="cursor:pointer;" ng-click="rowActionClicked('details')"></i>



  </div>
</div>
