<div class="shaddowed card bg-white" style="min-height:93vh;position:relative;">
    <breadcrumb></breadcrumb>
    <div class="container-fluid">
      <uib-tabset>

        <!-- <uib-tab active="searchTabActive">
          <uib-tab-heading>
            Individual
          </uib-tab-heading>
          <div class="container-fluid" ng-include="'/static/ngTemplates/app.payroll.salary.individual.html'">
          </div>
        </uib-tab> -->
          <uib-tab active="searchTabActive">
              <uib-tab-heading>
                  All
              </uib-tab-heading>
              <div class="container-fluid">
                  <generic-Table data="data.allTableData" config-Obj="{{configAll}}" callback-Fn="tableActionAll"></generic-Table>
              </div>
          </uib-tab>
          <uib-tab>
              <uib-tab-heading>
                  Report
              </uib-tab-heading>
              <div class="container-fluid">
                  <generic-Table data="data.tableData" config-Obj="{{config}}" callback-Fn="tableAction"></generic-Table>
              </div>
          </uib-tab>

          <uib-tab ng-repeat="tab in tabs" active="tab.active" disable="tab.disabled">
              <uib-tab-heading >
                  {{tab.title}}
                  <i ng-if="tab.cancel" class="fa fa-close" ng-click="closeTab($index);"></i>
              </uib-tab-heading>

              <div ng-if="tab.app == 'payrollExplorer'">
                  <div ng-include="'/static/ngTemplates/app.payroll.salary.payrollinfo.html'"></div>
              </div>
              <div ng-if="tab.app == 'reportExplorer'">
                  <div ng-include="'/static/ngTemplates/app.payroll.salary.refortinfo.html'"></div>
              </div>

          </uib-tab>
      </uib-tabset>
    </div>
</div>
