<div class="container-fluid">
  <!-- <div class="row" style="padding:20px">
    <div class="col-md-7">
      <div class="col-md-1" style="padding-right:0px">
        <span style="font-size:40px"><i class="fa fa-user-circle-o" aria-hidden="true"></i></span>
      </div>
      <div class="col-md-6">
        <span style="font-size:40px">Edit Payroll</span>
      </div>
    </div>
  </div> -->
  <div class="col-md-6">
    <div class="form-group" >
      <label>HRA</label>
      <input type="tel" class="form-control" ng-model="data.hra" required  placeholder="HRA">
    </div>
    <div class="form-group">
      <label>Special</label>
      <input type="tel" class="form-control" ng-model="data.special" required placeholder="Special">
    </div>
    <div class="form-group">
      <label>LTA</label>
      <input type="tel" class="form-control" ng-model="data.lta" required placeholder="LTA">
    </div>
    <div class="form-group">
      <label >Basic</label>
      <input type="tel" class="form-control" ng-model="data.basic" required placeholder="Basic">
    </div>
    <div class="form-group">
      <label >Ad-HOC</label>
      <input type="tel" class="form-control" ng-model="data.adHoc" required placeholder="Ad-HOC">
    </div>
    <div class="form-group">
      <h4>Medical insurence</h4>
    </div>
    <div class="form-group">
      <label >Policy Number</label>
      <input type="tel" class="form-control" ng-model="data.policyNumber" required placeholder="Policy Number">
    </div>
    <div class="form-group">
      <label >Provider</label>
      <input type="tel" class="form-control" ng-model="data.provider" required placeholder="Provider">
    </div>
    <div class="form-group">
      <label >Amount</label>
      <input type="tel" class="form-control" ng-model="data.amount" required placeholder="Amount">
    </div>
    <div>
      <input type="checkbox" ng-model="data.noticePeriodRecovery">
        <span>Notice Period Recovery</span>
    </div>
    <div class="form-group">
      <label >AL</label>
      <input type="tel" class="form-control" ng-model="data.al" required placeholder="AL">
    </div>
    <div class="form-group">
      <label >ML</label>
      <input type="tel" class="form-control" ng-model="data.ml" required placeholder="ML">
    </div>
    <div class="form-group">
      <label >Ad-HOC Leaves</label>
      <input type="tel" class="form-control" ng-model="data.adHocLeaves" required placeholder="Ad-HOC Leaves">
    </div>
    <div class="form-group">
      <label >Joinning Date</label>
      <input type="date" class="form-control" ng-model="data.joiningDate" required placeholder="Joinning Date">
    </div>
    <div>
      <input type="checkbox" ng-model="data.off">
      <span>Saturday Off</span>
    </div>
    <div class="form-group">
      <label >Account Number</label>
      <input type="tel" class="form-control" ng-model="data.accountNumber" required placeholder="Account Number">
    </div>
    <div class="form-group">
      <label >IFSC Code</label>
      <input type="tel" class="form-control" ng-model="data.ifscCode" required placeholder="IFSC Code">
    </div>
    <div class="form-group">
      <label >Bank Details</label>
      <input type="tel" class="form-control" ng-model="data.bankDetais" required placeholder="Bank Details">
    </div>
  </div>
</div>
