<div class="modal-header">
  <h3 class="text-center"><span ng-if="camp.typ == 'email'"><i class="fa fa-envelope-o"></i></span>
  <span ng-if="camp.typ == 'sms'"><i class="fa fa-mobile"></i></span>
  <span ng-if="camp.typ == 'call'"><i class="fa fa-phone"></i></span>
  &nbsp;{{camp.name}}</h3>
</div>
<div class="modal-body">
  <div class="row">
    <!-- <div class="col-md-3" style="padding-left:0px">
    <img ng-src="{{log.user | getDP}}" class="img img-rounded" style="height:35px;width:35px">
  </div>
  <div class="col-md-7" >
  <span style="font-size:18px">{{log.created | timeAgo}} ago</span>
</div> -->
    <div class="col-md-6" style="font-size:22px">
      <span style="font-size:24px" ng-if="log.typ=='outbound'"><i class="fa fa-phone"></i></span>
      <span style="font-size:24px" ng-if="log.typ=='emailSent'"><i class="fa fa-envelope-o"></i></span>
      <span style="font-size:24px" ng-if="log.typ=='smsSent'"><i class="fa fa-mobile"></i></span>
      <span style="font-size:24px" ng-if="log.typ=='comment'"><i class="fa fa-commenting-o"></i></span>
      <span style="font-size:24px" ng-if="log.typ=='converted'"><i class="fa fa-thumbs-up"></i></span>
      <span style="font-size:24px" ng-if="log.typ=='closed'"><i class="fa fa-thumbs-down"></i></span>
      <span> &nbsp;<b>Log At : </b> {{log.created | date: 'dd-MMM-yyyy  hh:mm a'}}</span>
    </div>
    <div class="col-md-6" style="font-size:22px" ng-if="log.data.length>0">
      <strong> Message : </strong>
      <span>{{log.data}}</span>
    </div>
  </div>

  <div class="row" style="font-size:17px;padding:5px 30px">
    <h3 class="text-center">Directions</h3>
    <span ng-bind-html="camp.directions"></span>
  </div>


</div>
