<div ng-controller="businessManagement.marketing.contacts.form">
  <div class="container-fluid">
    <!-- <h3 ng-if="form.pk">Edit Contact : <strong>{{form.name}}</strong></h3> -->
    <h3>{{form.pk ? 'Edit Contact' : 'Create New Contact'}}</h3>
  </div>

  <div class="container-fluid">

    <div class="col-md-6">
      <!-- <div class="row">
        <div class="col-md-10">
          <div class="form-group" style="margin-top:20px;">

            <label style="margin-top:-20px;">Mrs.</label> <switch ng-model="form.male" class="neutral"></switch> <label style="margin-top:-20px;">Mr.</label>
          </div>

          <div class="form-group" style="margin-top:20px;">
            <label>Reference ID</label>
            <input type="text" class="form-control" ng-model="form.referenceId">
          </div>

        </div>

        <div class="col-md-2" style="top:y 40px;">
          <img ng-if="form.dp[0] != 'h'" style="width: 100%;" class="img img-circle" ng-src="/static/images/img_avatar_card{{form.male? '':'2'}}.png" >
          <img ng-if="form.dp[0] == 'h'" style="width: 100%;" class="img img-circle" ng-src="{{form.dp}}" >
        </div>
      </div> -->

      <div class="form-group">
        <label>Full Name</label>
        <input type="text" class="form-control" ng-model="form.name">
      </div>

      <div class="form-group">
        <label>Email</label>
        <input type="text " class="form-control" ng-model="form.email">
      </div>

      <div class="form-group">
        <label>Mobile</label>
        <input type="text " class="form-control" ng-model="form.mobile">
      </div>

      <div class="form-group" style="margin-top:20px;">
        <label>Reference ID</label>
        <input type="text" class="form-control" ng-model="form.referenceId">
      </div>

      <div class="form-group">
        <label>Source</label>
        <input type="text " class="form-control" ng-model="form.source">
      </div>

      <div class="form-group">
        <label>PinCode</label>
        <input type="text " class="form-control" ng-model="form.pinCode">
      </div>

      <div class="form-group">
        <label>Tags</label>
        <div class="input-group">
          <input type="text" class="form-control"  ng-model="form.tag" uib-typeahead="tag as tag.name for tag in tagSearch($viewValue)"/>
          <span class="input-group-btn">
            <button type="button" class="btn {{form.tag.pk == null ? 'btn-primary':'btn-success'}}" ng-click="saveTags()">{{form.tag.pk == null ? 'Create':'Add'}}</button>
          </span>
        </div>
      </div>

      <div class="row" style="padding:15px 10px">
        <div class="col-md-6" ng-repeat="t in form.tagsList">
          <div class="container-fluid card">
            <i class="fa fa-times fa-lg pull-right" style="padding-top:10px;cursor:pointer" ng-click="closeTags($index)"></i>
            <div class="row container-fluid" style="padding-top:10px;">
              <h4><b>{{t.name}}<b></h4>
            </div>
          </div>
        </div>
      </div>



        <div class="btn-group ">
          <button type="button" class="btn btn-default" ng-click="resetForm()">
            Reset
          </button>
          <button type="button" class="btn btn-primary pull-right" ng-click="createContact()" >Save</button>
        </div>

    </div>

  </div>
</div>
