<div class="col-md-6" ng-controller="hospitalManagement.patients.form">
  <form>
    <div class="form-group">
      <label>First Name</label>
      <input type="text" class="form-control" ng-model="newPatient.firstName" required placeholder="First Name">
    </div>
    <div class="form-group">
      <label>Last Name</label>
      <input type="text" class="form-control" ng-model="newPatient.lastName" required placeholder="Last Name">
    </div>
    <div class="form-group">
      <label>Age</label>
      <input type="number" class="form-control" ng-model="newPatient.age" required value="0">
    </div>
    <div class="form-group">
      <label>Unique Id</label>
      <div class="input-group">
        <input type="text" class="form-control" ng-model="newPatient.uniqueId" placeholder="Generate unique id" disabled>
        <div class="input-group-addon" style="cursor:pointer;" ng-click="generateUniqueId()">Generate</div>
      </div>
    </div>
    <div class="form-group">
      <label>Gender</label> <br>
      <input type="radio" ng-model="newPatient.gender" value="Male"> Male
      <input type="radio" ng-model="newPatient.gender" value="Female"> Female
    </div>

    <div class="form-group">
      <button type="submit" class="btn btn-primary" ng-click="createPatient()">Save</button>
    </div>
  </form>
</div>
