<div class="col-md-3 animated fadeIn" style="padding-bottom:20px;padding-left:10px;padding-right:10px;">
  <div class="container-fluid card" style="background:#1e5071;color:white;">
    <div class="row" >
      <h3 class="text-center">{{data.name }}</h3>
    </div>
    <div class="row text-center" >
      <span style="font-size:20px;">₹ {{data.rate}}</span>
    </div>
    <div class="row " style="border-top: 1px solid white;">
      <div class="col-md-6" style="padding-top:10px; padding-left:40px;">
        <span style="cursor:pointer;" ng-click="rowActionClicked('editDetails')">
          <i class="fa fa-pencil fa-lg" ></i>
        </span>
      </div>
      <!-- <div class="col-md-6" style="padding-top:10px; padding-right:40px;">
        <span class="pull-right" style="cursor:pointer;" ng-click="rowActionClicked('viewDetails')">
          <i class="fa fa-info fa-lg" ></i>
        </span>
      </div> -->
    </div>
  </div>
</div>
