<div class="container-fluid" ng-controller="hospitalManagement.configure.doctors.form">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="row text-center" ng-if="doctorForm.pk">
        <h2>Edit Doctor Details</h2>
      </div>
      <div class="row">
        <div class="form-group">
          <label>Doctor Name</label>
          <div class="form-group">
            <input class="form-control" type="text" name="" value="" ng-model="doctorForm.name">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group">
          <label>Department</label>
          <div class="form-group">
            <input class="form-control" type="text" name="" value="" ng-model="doctorForm.department">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group">
          <label>Qualification</label>
          <div class="form-group">
            <input class="form-control" type="text" name="" value="" ng-model="doctorForm.education">
          </div>
        </div>
      </div>
      <div class="row text-center">
        <div class="form-group">
          <button type="submit" class="btn btn-primary" ng-click="saveDoctor()">Save</button>
        </div>
      </div>
    </div>
  </div>
</div>
