<div class="modal-header">
  <h3 class="text-center">{{invoiceData.invoiceName}}</h3>
</div>
<div class="modal-body">
  <div class="container-fluid" style="margin-top:30px">
    <table class="invoiceTable" style=" width: 100%;border-collapse: collapse;">
      <tr style="background-color: #eeeeee;height: 96px;">
        <th>S.No</th>
        <th>Name</th>
        <!-- <th>Quantity</th> -->
        <th>Rate(₹)</th>
      </tr>
      <tr ng-repeat="item in items">
        <td>{{$index + 1}}</td>
        <td>
          <input ng-model="item.name" type="text" class="form-control-pos">
        </td>
        <!-- <td>
            <input type="number" class="form-control-pos" ng-model="item.qty">
          </td> -->
        <td>
          <input type="number" class="form-control-pos" ng-model="item.rate">
        </td>
        <td>
          <button type="button" class="btn btn-danger btn-sm" ng-click="deleteTable($index)"> <i class="fa fa-trash"></i> </button>
        </td>
      </tr>
      <tr>
        <td>
          <div class="container-fluid" style="padding:0px;">
            <button style="background-color:white;border:none;" ng-click="addTableRow()"><i class="fa fa-plus" aria-hidden="true"  style="cursor:pointer"></i>
                </button>
          </div>
        </td>
        <td style="border:none;"></td>
        <!-- <td style="border:none;"></td> -->
        <td>₹ {{calcTotalRate()}}</td>
      </tr>
    </table>

  </div>
  <div class="row text-center">
    <div class="container-fluid" style="padding-top:20px">
      <button type="button" class="btn btn-success" ng-click="save()">Save</button>
    </div>
  </div>
</div>
