<div class="row" ng-controller="hospitalManagement.outPatient.form">
  <div class="col-md-6">
    <form>
      <div class="form-group">
        <label>Patient Name</label>
        <div class="{{addNewPatient==true ? 'input-group': ''}}">
          <input ng-if="activePatientsForm.pk==null" type="text" class="form-control" ng-model="activePatientsForm.patient" uib-typeahead="patient as patient.firstName for patient in patientSearch($viewValue)" >
          <input ng-if="activePatientsForm.pk" type="text" class="form-control" ng-model="activePatientsForm.patient" uib-typeahead="patient as patient.firstName for patient in patientSearch($viewValue)" disabled>
          <div ng-if="addNewPatient" class="input-group-addon" style="cursor:pointer;" ng-click="addNewActivePatient(activePatientsForm.patient)">Add</div>
        </div>
      </div>
      <div class="form-group">
        <label>In Time</label>
        <div class="input-group">
          <input type="text" class="form-control" show-weeks="false" uib-datepicker-popup="dd-MMMM-yyyy" ng-model="activePatientsForm.inTime" is-open="inTime.opened" ng-init="today" />
          <span class="input-group-btn">
          <button type="button" class="btn btn-default" ng-click="inTime.opened = true;"><i class="glyphicon glyphicon-calendar"></i></button>
        </span>
        </div>
      </div>
      <div class="form-group" ng-if="activePatientsForm.pk">
        <label>Status</label>
        <select class="form-control" ng-model="activePatientsForm.status">
          <option ng-repeat="s in statusList" value="{{s.value}}">{{s.name}}</option>
        </select>
      </div>
      <div class="form-group">
        <label>Comments</label> <br>
        <textarea class="form-control" rows="3" ng-model="activePatientsForm.comments" placeholder="comments..."></textarea>
      </div>

      <div class="form-group">
        <button type="submit" class="btn btn-primary" ng-click="createActivePatient()">Save</button>
      </div>
    </form>
  </div>
  <div class="col-md-6">
    <div class="container-fluid" style="padding:15px; padding-left:50px;" ng-if="displayDetails">

      <div class="row" ng-if="activePatientsForm.patient.firstName">
        <label style="font-size:15px;">Patient Name  :</label>
        <span style="font-size:15px;">{{activePatientsForm.patient.firstName}} {{activePatientsForm.patient.lastName}} </span>
      </div>
      <div class="row" ng-if="activePatientsForm.patient.gender">
        <label style="font-size:15px;">Gender  :</label>
        <span style="font-size:15px;">{{activePatientsForm.patient.gender}} </span>
      </div>
      <div class="row" ng-if="activePatientsForm.patient.dateOfBirth">
        <label style="font-size:15px;">Date Of Birth :</label>
        <span style="font-size:15px;">{{activePatientsForm.patient.dateOfBirth}}</span>
      </div>
      <div class="row" ng-if="activePatientsForm.patient.uniqueId">
        <label style="font-size:15px;">Unique Id  :</label>
        <span style="font-size:15px;">{{activePatientsForm.patient.uniqueId}} </span>
      </div>
      <div class="row" ng-if="activePatientsForm.patient.phoneNo">
        <label style="font-size:15px;">Phone No. :</label>
        <span style="font-size:15px;">{{activePatientsForm.patient.phoneNo}} </span>
      </div>

    </div>

  </div>
</div>
