<div class="container-fluid" ng-controller="hospitalManagement.patients.form" style="margin-top:20px;">
  <div class="col-md-8 col-md-offset-2">
    <div class="row" style="margin-top:20px">
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control" ng-model="newPatient.firstName" placeholder="">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>Age</label>
            <input type="text" class="form-control" ng-model="newPatient.age" placeholder="">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>Mobile</label>
            <input type="text" class="form-control" ng-model="newPatient.phoneNo" placeholder="">
          </div>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-3">
          <img src="/static/images/Location-Map-Pin.jpg">
        </div>
        <div class="col-md-9">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>Street</label>
                <input type="text" class="form-control" ng-model="newPatient.street" placeholder="">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>City</label>
                <input class="form-control" type="text" ng-model="newPatient.city">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>Pincode</label>
                <input type="tel" class="form-control" ng-model="newPatient.pin" placeholder="">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>State</label>
                <input class="form-control" type="text" ng-model="newPatient.state">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>Country</label>
                <input type="text" class="form-control" ng-model="newPatient.country" placeholder="">
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="row">

        <div class="col-md-6">
          <div class="form-group">
            <label>Gender</label>

            <div class="row">
              <div class="col-md-6 text-center">
                <img src="/static/images/img_avatar_card.png" style="height:50px;height:50px;" class="img img-circle">
                <br> Male
                <br>
                <input type="radio" ng-model="newPatient.gender" value="Male"> Male
              </div>
              <div class="col-md-6 text-center">
                <img src="/static/images/img_avatar_card2.png" style="height:50px;height:50px;" class="img img-circle">
                <br> Female
                <br>
                <input type="radio" ng-model="newPatient.gender" value="Female"> Female
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row" style="margin-top:25px;margin-bottom:25px">
      <div class="col-md-6 col-md-offset-6">
        <button ng-click="createPatient()" type="button" class="btn btn-primary">
        Save
      </button>
      </div>
    </div>
  </div>
</div>
