<!-- <div class="col-md-6 col-md-offset-3" ng-controller="hospitalManagement.patients.explore">
  <div class="text-center">
    <h3>Edit Details</h3>
  </div>
</div> -->

<div class="container-fluid" ng-controller="hospitalManagement.patients.edit" style="margin-top:20px;">
  <div class="row" style="margin-top:20px">
    <div class="row" style="margin-bottom:30px">
      <div class="col-md-4">
        <div class="row pull-right">
          <img style="width: 120px;height:120px;" class="img" ng-if="form.displayPicture != null" ng-src="{{form.displayPicture}}" >
          <img style="width: 120px;height:120px;" class="img" ng-if="form.displayPicture == null" src="/static/images/userIcon.png" >
        </div>
      </div>
      <div class="col-md-7 col-md-offset-1">
        <h3> Edit Details for {{form.firstName}} {{form.lastName}}</h3>
      </div>
    </div>
    <div class="col-md-8 col-md-offset-2">

      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>First Name</label>
            <input type="text" class="form-control" ng-model="editForm.firstName" placeholder="">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>Mobile</label>
            <input type="text" class="form-control" ng-model="editForm.phoneNo" placeholder="">
          </div>
        </div>
      </div>

      <div class="row">

        <div class="col-md-6">
          <div class="form-group">
            <label>Age</label>
            <input class="form-control" type="text" ng-model="editForm.age">
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <label>Unique Id</label>
            <input type="text" class="form-control" ng-model="editForm.uniqueId" placeholder="" disabled>
          </div>
        </div>
      </div>
      </div>
      <hr>

      <div class="row">
        <div class="col-md-3">
          <img src="/static/images/Location-Map-Pin.jpg" >
        </div>
        <div class="col-md-9">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>Street</label>
                <input type="text" class="form-control" ng-model="editForm.street" placeholder="">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>City</label>
                <input class="form-control" type="text" ng-model="editForm.city">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>Pincode</label>
                <input type="tel" class="form-control" ng-model="editForm.pin" placeholder="">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>State</label>
                <input class="form-control" type="text" ng-model="editForm.state">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>Country</label>
                <input type="text" class="form-control" ng-model="editForm.country" placeholder="">
              </div>
            </div>
          </div>
        </div>
      </div>

      <hr>
      <div class="row">
        <!-- <div class="col-md-6">
          <div class="form-group">
            <label>Mode of Payment</label> <br>
            <div ng-repeat ="m in modeOfPay ">
              <input type="checkbox" id="myCheck" ng-model="m.value" /> {{m.name}}
            </div>
          </div>
        </div> -->
        <div class="col-md-6">
          <div class="form-group">
            <label>Gender</label>

            <div class="row">
              <div class="col-md-6 text-center">
                <img src="/static/images/img_avatar_card.png" style="height:50px;height:50px;" class="img img-circle">
                <br> Male
                <br>
                <input type="radio" ng-model="editForm.gender" value="Male"> Male
              </div>
              <div class="col-md-6 text-center">
                <img src="/static/images/img_avatar_card2.png" style="height:50px;height:50px;" class="img img-circle">
                <br> Female
                <br>
                <input type="radio" ng-model="editForm.gender" value="Female"> Female
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row" style="margin-top:25px;margin-bottom:25px">
    <div class="col-md-5 col-md-offset-5">
      <button ng-click="saveDetails()" type="button" class="btn btn-primary">
        Save
      </button>
    </div>
  </div>
</div>
