
<div class="container-fluid" ng-controller="businessManagement.warehouse.contract.explore" style="padding-top:10px;">
  <div class="col-md-3" style="min-height:70vh;border-right:solid 2px #eeeeee;padding-top:20px;">
    <div class="row">
      <div class="container-fluid">
        <span style="font-size:20px;" class="text-muted"><i class="fa fa-building-o text-muted"></i> {{contract.company.name}}</span>
      </div>
    </div>
    <div class="row" style="margin-top:20px;">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-4">
            <label class="text-muted pull-right">Address :</label>
          </div>
        </div>
        <div class="col-md-3">
          <i class="pull-right fa fa-map-marker fa-3x" style="color:#eeeeee;"></i>
        </div>
        <div class="col-md-9">
          <span>{{contract.company.street}}</span><br>
          <span>{{contract.company.city}}</span><br>
          <span>{{contract.company.pincode}}</span><br>
          <span>{{contract.company.state}}</span><br>
          <span>{{contract.company.country}}</span><br>
        </div>
      </div>
    </div>
    <hr>
    <div class="row" style="margin-top:20px;">
      <div class="text-right col-md-4">
        CIN :
      </div>
      <div class="text-left col-md-8">
        <span>{{contract.company.cin}}</span>
      </div>
    </div>
    <div class="row" style="margin-top:20px;">
      <div class="text-right col-md-4">
        TIN :
      </div>
      <div class="text-left col-md-8">
        <span>{{contract.company.tin}}</span>
      </div>
    </div>
    <div class="row" style="margin-top:20px;">
      <div class="text-right col-md-4">
        Telephone :
      </div>
      <div class="text-left col-md-8">
        <span>{{contract.company.telephone}}</span>
      </div>
    </div>
    <hr>
    <div class="row">
      <label class="text-muted">External Stakeholders</label>
      <div ng-repeat="c in contract.contact" class="row" style="margin-top:10px;cursor:pointer;"  ng-if="c.company.pk==contract.company.pk" ng-click="exploreContact(c)">
        <div class="col-md-2">
          <i class="fa fa-user fa-5x"></i>
        </div>
        <div class="col-md-10" style="padding-top:3px;">
          <span>{{c.name}}</span>
          <br> <span class="text-muted">{{c.designation}}</span>
        </div>
      </div>
    </div>

  </div>
  <div class="col-md-9">
    <div class="row" style="margin-top:10px;">
      <div class="container-fluid">
        <label class="text-muted">Requirements</label>
      </div>
    </div>
    <div class="row" style="margin-top:10px;margin-left:20px">
      <div class="col-md-3">
        <strong>Rate : </strong><span>{{contract.rate}}</span>
      </div>
      <div class="col-md-3">
        <strong>Billing Frequency : </strong> <span>{{contract.billingFrequency}}</span>
      </div>
      <div class="col-md-5">
        <strong>Other Docs : </strong><a href="{{contract.otherDocs}}" target="_blank">{{contract.otherDocs}}</a>
      </div>
    </div>
    <div class="row" style="margin-top:10px;margin-left:20px">

      <div class="col-md-3">
        <strong>Due Days : </strong><span>{{contract.dueDays}}</span>
      </div>
      <div class="col-md-3">
        <strong>Billing Dates : </strong> <span>{{contract.billingDates}}</span>
      </div>
      <div class="col-md-5">
        <strong>Contract Paper : </strong> <a href="{{contract.contractPaper}}" target="_blank">{{contract.contractPaper}}</a>
      </div>
    </div>
    <div class="row" style="margin-top:10px;margin-left:20px">
      <div class="col-md-3">
        <strong>Unit Type : </strong><span>{{contract.unitType}}</span>
      </div>
      <div class="col-md-3">
        <strong>Quantity : </strong><span>{{contract.quantity}}</span>
      </div>
      <div class="col-md-5">
        <!-- <div class="col-md-4"> -->
          <strong>Occupancy : </strong>
        <!-- </div> -->
        <div class="col-md-9 pull-right">
          <img ng-src="{{contract.occupancy_screenshort}}" alt="Occupancy Area" height="100px" width="100px">
        </div>
      </div>

    </div>

    <!-- <div class="row" style="margin-top:10px;">
      <div class="text-right col-md-2">
        Rate :
      </div>
      <div class="text-left col-md-10">
        <span>{{contract.rate}}</span>
      </div>
    </div>
    <div class="row" style="margin-top:10px;">
      <div class="text-right col-md-2">
        Billing Frequency :
      </div>
      <div class="text-left col-md-10">
        <span>{{contract.billingFrequency}}</span>
      </div>
    </div>
    <div class="row" style="margin-top:10px;">
      <div class="text-right col-md-2">
        Billing Dates :
      </div>
      <div class="text-left col-md-10">
        <span>{{contract.billingDates}}</span>
      </div>
    </div>
    <div class="row" style="margin-top:10px;">
      <div class="text-right col-md-2">
        Due Days :
      </div>
      <div class="text-left col-md-10">
        <span>{{contract.dueDays}}</span>
      </div>
    </div> -->
    <!-- </div> -->
    <!-- <div class="row" style="margin-top:10px;">
      <div class="text-right col-md-2">
        Occupancy :
      </div>
      <div class="text-left col-md-10">
        <span>{{contract.occupancy}}</span>
      </div>
    </div>
    <div class="row" style="margin-top:10px;">
      <div class="text-right col-md-2">
        Quantity :
      </div>
      <div class="text-left col-md-10">
        <span>{{contract.quantity}}</span>
      </div>
    </div>
    <div class="row" style="margin-top:10px;">
      <div class="text-right col-md-2">
        Unit Type :
      </div>
      <div class="text-left col-md-10">
        <span>{{contract.unitType}}</span>
      </div>
    </div>
    <div class="row" style="margin-top:10px;">
      <div class="text-right col-md-2">
        Contract Paper :
      </div>
      <div class="text-left col-md-10">
        <span>{{contract.contractPaper}}</span>
      </div>
    </div>
    <div class="row" style="margin-top:10px;">
      <div class="text-right col-md-2">
        Other Docs :
      </div>
      <div class="text-left col-md-10">
        <span>{{contract.otherDocs}}</span>
      </div>
    </div> -->
    <hr>
    <div class="row">
      <div class="container-fluid">
        <label class="text-muted">Finances</label>
        <button type="button" class="btn btn-default btn-md pull-right" ng-click="editQuote()">
          <i class="fa fa-plus"></i> Quote
        </button><br>
        <div class="container-fluid" style="margin-top:20px;">
          <div class="row">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Value</th>
                  <th>Items</th>
                  <th>Created</th>
                  <th>Updated</th>
                  <th>Status</th>
                  <th style="width:20%;"></th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="c in contract.invoice">
                  <td>{{c.pk}}</td>
                  <td><i class="fa fa-{{contract.currency | lowercase}}" style="margin-right:20px;"></i>{{c.value}}</td>
                  <td>{{c.data.length}}</td>
                  <td>{{c.created | timeAgo}}</td>
                  <td>{{c.updated | timeAgo}}</td>
                  <td>{{c.status | humanize}} <br>
                    <span ng-if="c.status == 'billed'"> Due Date: {{c.dueDate | date : 'dd-MMM-yyyy'}}</span>
                  </td>
                  <td>
                    <div class="btn-group btn-group-sm pull-right">
<!-- <<<<<<< HEAD
                      <a ng-if="c.status != 'cancelled'" href="/api/warehouse/downloadInvoice/?contract={{contract.pk}}&invoice={{c.pk}}" class="btn btn-default" target="_blank"><i class="fa fa-download"></i></a>
======= -->
                      <a ng-if="c.status != 'cancelled'" href="/api/warehouse/downloadInvoice/?contract={{contract.pk}}" class="btn btn-default" target="_blank"><i class="fa fa-download"></i></a>
<!-- >>>>>>> 20c361fdeb1f8a000ef15776e239c2834a00463c -->
                      <button ng-if="c.status != 'cancelled'" type="button" class="btn btn-default" ng-click="editQuote($index)">
                        <i class="fa fa-pencil"></i>
                      </button>
                      <button type="button" class="btn btn-info" ng-click="sendNotification($index)" ng-if="['billed' , 'received', 'dueElapsed'].indexOf(c.status) != -1">
                        <i class="fa fa-envelope-o"></i>
                      </button>
                      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                        Change status <span class="caret"></span></button>
                      <ul class="dropdown-menu" role="menu">
                        <li><a href="" ng-click="changeStatus('quoted', $index)">Quoted</a></li>
                        <li><a href="" ng-click="changeStatus('approved', $index)">Approved</a></li>
                        <li><a href="" ng-click="changeStatus('billed', $index)">Billed</a></li>
                        <li><a href="" ng-click="changeStatus('received', $index)">Received</a></li>
                        <li><a href="" ng-click="changeStatus('cancelled', $index)">Cancelled</a></li>
                        <li><a href="" ng-click="changeStatus('dueElapsed', $index)">Due Elapsed</a></li>
                      </ul>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="text-center" ng-if="contract.contracts.length == 0" style="margin-top:50px;">
              <span>No data!</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
