<!-- <div class="shaddowed card bg-white" style="min-height:93vh;position:relative;"> -->
  <breadcrumb></breadcrumb>
  <div class="container-fluid" style="margin-top: -20px;" ng-controller="businessManagement.support">
    <div class="row" style="background-color: white;">

      <!-- middle part -->
       <div class="col-md-10" style="padding:0px;">
        <div class="col-md-3" style="padding:0px;" ng-repeat="cust in [3,1,2,4]">
          <div style="min-height:73vh;margin-top:0px;padding:0px;border-left: 1px solid #eeeeee;background-color: white;" class="container-fluid">
            <div class="container-fluid" style="padding:0px;border-bottom:1px solid #eeeeee;height:60px;">
            <div class="container-fluid" style="font-size:25px">
              <label class="text-muted">Visiter {{cust}}</label>
            </div>
          </div>
            <div class="container-fluid" style="margin-left:10px;margin-right:10px">
              <div class="row" style="padding:0px;" ng-repeat="message in names[data.xInView].messages">
                <div style="float:{{message.sentByMe ? 'right':'left'}};background-color:#eeeeee;padding:10px;margin:8px;border-radius:{{message.sentByMe ? '20px 0px 20px 20px':'0px 20px 20px 20px'}};">
                  <p ng-if="message.msg != '' || message.msg != undefined">{{message.msg}}</p>
                   <img ng-if="message.img" ng-src="{{message.img}}" >
                   <video ng-if="message.videoUrl" ng-src="{{message.videoUrl}}" controls></video>
                </div>
              </div>
            </div>
          </div>
          <div class="container-fluid" style="padding:;border-top:30px;background-color:#eeeeee">
            <div class="row" style="margin:0px;margin-top:40px;margin-bottom:60px;">
              <form>
                <div class="input-group">
                  <input type="text" class="form-control"placeholder="Message">
                  <span class="input-group-addon"style="cursor:pointer"><i class="fa fa-paperclip" aria-hidden="true"></i></span>
                  <span class="input-group-addon" ng-click="send()" style="cursor:pointer"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></span>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- right side part -->
       <div class="col-md-2" style="padding:0px;">
         <div class="container-fluid" style="background-color:var(--themeMain);color:white;">
          <div class="row" style="margin-top:10px;margin-bottom:10px;">
            <div class="col-md-9">
              <span>INCOMING</span>
            </div>
            <div class="col-md-2">
              <button class="btn btn-default" style="background-color:var(--themeMain);color:white;">{{incomming.length}}</button>
            </div>
          </div>
        </div>
        <div class="container-fluid" style="background-color:var(--themeMain);color:white;border:1px solid #474444" ng-click="data.xInView = $index" ng-repeat="x in incomming">
          <div class="row" style="margin-top:10px;margin-bottom:10px;cursor:pointer;hover:#031030">
            <div class="col-md-9">
              <span style="cursor:pointer">{{x.name}}</span><br>
              <i class="fa fa-circle"  style="color:{{x.isOnline ? '#37a508':'#ff0022'}}"></i><span> coic</span>
            </div>
            <div class="col-md-2">
              <i class="fa fa-eye-slash" aria-hidden="true"></i>
            </div>
          </div>
        </div>
        <div class="container-fluid" style="background-color:var(--themeMain);color:white;min-height:75vh;padding:0px;">
          <div class="container-fluid"style="border-bottom:1px solid #474444">
          <div class="row" style="margin-top:10px;margin-bottom:10px;">
            <div class="col-md-9">
              <span>{{me.pk | getName}}</span><br>
            </div>
            <div class="col-md-2">
              <button class="btn btn-default" style="background-color:var(--themeMain);color:white;">{{names.length}}</button>
            </div>
          </div>
        </div>
          <ul class="nav nav-sidebar-inverse" style="width:100%;">
            <li ng-repeat="x in names" ng-click="data.xInView = $index" class="ripple ">
              <a>
                <div class="row" >
                  <div class="container-fluid">
                    <div class="col-md-7">
                      <span style="cursor:pointer">{{x.name}}</span><br>
                      <i class="fa fa-circle" aria-hidden="true" style="color:{{x.isOnline ? '#37a508':'#ff0022'}}"></i><span> coic</span>
                    </div>
                  </div>
                </div>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
<!-- </div> -->
