<!-- <div class="shaddowed card bg-white" style="min-height:93vh;position:relative;"> -->
  <breadcrumb></breadcrumb>
  <div class="container-fluid" style="margin-top: -20px;" ng-controller="businessManagement.support">
    <div class="row" style="background-color: white;">

      <!-- middle part -->
       <div class="col-md-10" style="padding:0px; min-height:88vh;">
        <div class="col-md-3 anim-in-out anim-fade" style="padding:0px;" ng-repeat="cust in chatsInView">
          <chat-box data = "cust" index="$index" close-chat="closeChatBox" ></chat-box>



          <!-- <div style="min-height:75vh;margin-top:0px;padding:0px;border-left: 1px solid #eeeeee; border-right: 1px solid #eeeeee; background-color: white;" class="container-fluid">
            <div class="container-fluid" style="padding:0px;border-bottom:1px solid #eeeeee;height:60px;">
            <div class="container-fluid" >
              <label style="font-size:25px" class="text-muted">{{cust.name}}</label>
              <label class="text-muted pull-right">{{cust.uid.split("$")[0]}}</label>
            </div>
          </div>
            <div class="container-fluid" style="margin-left:10px;margin-right:10px">
              <div class="row" style="padding:0px;" ng-repeat="message in cust.messages track by $index">
                <div style="float:{{message.sentByMe ? 'right':'left'}};background-color:#eeeeee;padding:10px;margin:8px;border-radius:{{message.sentByMe ? '20px 0px 20px 20px':'0px 20px 20px 20px'}};">
                  <p ng-if="message.msg != '' || message.msg != undefined">{{message.msg}}</p>
                   <img ng-if="message.img" ng-src="{{message.img}}" >
                   <video ng-if="message.videoUrl" ng-src="{{message.videoUrl}}" controls></video>
                </div>
              </div>
            </div>
          </div>
          <div class="container-fluid" style="padding:;border-top:30px;background-color:#eeeeee">
            <div class="row" style="margin:0px;margin-top:40px;margin-bottom:60px;">
              <form>
                <div class="input-group">
                  <input type="text" class="form-control"placeholder="Message">
                  <span class="input-group-addon"style="cursor:pointer"><i class="fa fa-paperclip" aria-hidden="true"></i></span>
                  <span class="input-group-addon" ng-click="send()" style="cursor:pointer"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></span>
                </div>
              </form>
            </div>
          </div> -->


        </div>
      </div>
      <!-- right side part -->
       <div class="col-md-2" style="padding:0px; background-color:var(--themeMain);color:white; min-height:88vh;">

        <div class="container-fluid" style="padding:0px;">
          <div class="container-fluid"style="border:1px solid #474444">
          <div class="row" style="margin-top:10px;margin-bottom:10px;">
            <div class="col-md-9">
              <span>My Users</span><br>
            </div>
            <div class="col-md-2">
              <button class="btn btn-default" style="background-color:var(--themeMain);color:white;">{{myUsers.length}}</button>
            </div>
          </div>
        </div>
          <ul class="nav nav-sidebar-inverse" style="width:100%;"  >
            <!-- <li ng-repeat="x in newUsers" ng-click="data.xInView = $index" class="ripple "> -->
            <li class="anim-in-out anim-fade" ng-repeat="x in myUsers"  ng-click="addToChat($index)" class="ripple">
              <a>
                <div class="row" style="cursor:pointer" >
                  <div class="container-fluid">
                    <div class="col-md-7">
                      <span >{{x.name}}</span><br>
                      <i class="fa fa-circle" aria-hidden="true" style="color:{{x.isOnline ? '#37a508':'#ff0022'}}"></i><span> {{x.uid.split("$")[0]}}</span>
                    </div>
                  </div>
                </div>
              </a>
            </li>
          </ul>
        </div>





        <div class="container-fluid" style="padding:0px;">
          <div class="container-fluid"style="border:1px solid #474444">
          <div class="row" style="margin-top:10px;margin-bottom:10px;">
            <div class="col-md-9">
              <span>New Users</span><br>
            </div>
            <div class="col-md-2">
              <button class="btn btn-default" style="background-color:var(--themeMain);color:white;">{{newUsers.length}}</button>
            </div>
          </div>
        </div>
          <ul class="nav nav-sidebar-inverse" style="width:100%;"  >
            <!-- <li ng-repeat="x in newUsers" ng-click="data.xInView = $index" class="ripple "> -->
            <li class="anim-in-out anim-fade" ng-repeat="x in newUsers" mwl-confirm title="Confirm" message="Do you want to assign this user to yourself?" confirm-text="Yes <i class='fa fa-check'></i>" cancel-text="No" on-confirm="assignUser($index)" confirm-button-type="btn btn-success" cancel-button-type="btn btn-danger" class="ripple">
              <a>
                <div class="row" style="cursor:pointer" >
                  <div class="container-fluid">
                    <div class="col-md-7">
                      <span >{{x.name}}</span><br>
                      <i class="fa fa-circle" aria-hidden="true" style="color:{{x.isOnline ? '#37a508':'#ff0022'}}"></i><span>{{x.uid.split("$")[0]}}</span>
                    </div>
                  </div>
                </div>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
<!-- </div> -->
