<div class="modal-header">
  <h4 class="text-center">Details</h4>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <label>Email</label>
        <div class="input-group">
          <input type="email" class="form-control" ng-model="checkinForm.manufacturedOn" placeholder="Please Enter Email ..."/>
          <span class="input-group-btn">
            <button type="button" class="btn btn-success" ng-click="">Send &nbsp;<i class="fa fa-paper-plane-o"></i></button>
          </span>
        </div>
      </div>
      <h4>Please First Add This Script Tag To Your HTML</h4>
      <code>{{src}}</code>
    </div>
  </div>
</div>
