<div ng-controller="businessManagement.customers.explore" style="padding-top:20px;">
  <div class="col-md-12">
    <div class="col-md-3" style="border-right:solid 2px #eeeeee;min-height:82vh;position:relative;">

      <div class="row text-center">
        <h3><i class="fa fa-building-o"></i> {{compDetails.name}}</h3>
        <h4 ng-if="compDetails.telephone.length>0">{{compDetails.telephone}}</h4>
      </div>
      <div class="row" style="margin-top:20px;font-size:18px;padding:5px 15px" ng-if="compDetails.about.length>0">
        <span><strong>About : </strong><br></span>
        {{compDetails.about}}
      </div>
      <div class="row" style="margin-top:20px;" ng-if="compDetails.address.pk!=none">
        <div class="col-md-2">
          <i class="fa fa-map-marker fa-3x pull-right" style="color:#8faec2;"></i>
        </div>
        <div class="col-md-10" style="font-size:18px">
          <span>{{compDetails.address.street}}</span> <br>
          <span>{{compDetails.address.city}}</span> <br>
          <span>{{compDetails.address.state}}</span> <br>
          <span>{{compDetails.address.pincode}}</span> <br>
          <span>{{compDetails.address.country}}</span> <br>
        </div>
      </div>
      <div class="row" style="margin-top:10px;" ng-if="compDetails.contactPerson.pk!=none">
        <span class="text-center"><h4><b>Contact Person : </b></h4><br></span>
        <div class="row">
          <div class="col-md-2">
            <i class="fa fa-user fa-2x pull-right" style="color:#8faec2;"></i>
          </div>
          <div class="col-md-10" style="font-size:18px">
            <span>{{compDetails.contactPerson.first_name}}</span>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2">
            <i class="fa fa-mobile-phone fa-2x pull-right" style="color:#8faec2;"></i>
          </div>
          <div class="col-md-10" style="font-size:18px">
            <span>{{compDetails.mobile}}</span>
          </div>
        </div>
      </div>

    </div>
    <div class="col-md-9">
    </div>
  </div>
</div>
