<div ng-controller="workforceManagement.employees.approvals.info" style="padding-top:20px;">
  <div class="col-md-12" style="font-size:18px">
    <div class="col-md-2" style="border-right:solid 2px #eeeeee;min-height:14vh;position:relative;">
      <div class="row text-center">
        <h3>Leave Request For</h3>
      </div>
      <div class="row text-center">
        <img ng-src="{{data.user | getDP}}" style="width:100px;">
      </div>
      <div class="row text-center">
        <h4>{{data.user | getName}}</h4>
      </div>
    </div>
    <div class="col-md-8" style="padding:20px;border-left:solid 1px #eeeeee;">
      <div class="row">
        <div class="col-md-3 text-right ">
          <strong>From date :</strong>
        </div>
        <div class="col-md-6">
          <span>
            {{data.fromDate | date}}
          </span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 text-right ">
          <strong>To date :</strong>
        </div>
        <div class="col-md-6">
          <span>
              {{data.toDate | date}}
          </span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 text-right ">
          <strong>Total days :</strong>
        </div>
        <div class="col-md-6">
          <span>
            {{data.days}}
          </span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 text-right ">
          <strong>Taking Leaves :</strong>
        </div>
        <div class="col-md-6">
          <span>
            {{data.leavesCount}}
          </span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 text-right ">
          <strong>Catagory :</strong>
        </div>
        <div class="col-md-6">
          <span ng-if="data.category == 'AL'">
            Annual Leave
          </span>
          <span ng-if="data.category == 'ML'">
            Medical Leave
          </span>
          <span ng-if="data.category == 'casual'">
            Casual Leave
          </span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 text-right ">
          <strong>Comments :</strong>
        </div>
        <div class="col-md-6">
          <span>
          {{data.comment}}
          </span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 text-right ">
          <strong>approvedStage :</strong>
        </div>
        <div class="col-md-6">
          <span>
          {{data.approvedStage}}
          </span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 text-right ">
          <strong>approvedMatrix :</strong>
        </div>
        <div class="col-md-6">
          <span>
            {{data.approvedMatrix}}
          </span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 text-right ">
          <strong>Approved :</strong>
        </div>
        <div class="col-md-6">
          <span>
            {{data.approved}}
          </span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 text-right ">
          <strong>Approved By :</strong>
        </div>
        <div class="col-md-6">
          <span>{{data.approvedBy.length>0 ? '' : 'None'}}</span>
          <span ng-repeat="u in data.approvedBy">
            {{u | getName}}
          </span> <br>
        </div>
      </div>
    </div>
    <div class="col-md-2" ng-if="!data.approved">
      <div class="btn-group btn-group-md pull-right">
        <button type="button" class="btn btn-success" mwl-confirm title="Confirm" message="Are you sure?" confirm-text="Yes <i class='fa fa-check'></i>" cancel-text="No" on-confirm="save('approve')" confirm-button-type="default" cancel-button-type="default" style="position:relative;top:30px;right:-15px;cursor:pointer;">Approve</button>

        <button type="button" class="btn btn-danger" mwl-confirm title="Confirm" message="Are you sure?" confirm-text="Yes <i class='fa fa-check'></i>" cancel-text="No" on-confirm="save('reject')" confirm-button-type="default" cancel-button-type="default" style="position:relative;top:30px;right:-15px;cursor:pointer;">Reject</button>
      </div>
      <!-- <button type="button" class="btn btn-succes" style="width:100%" mwl-confirm title="Confirm" message="Are you sure?" confirm-text="Yes <i class='fa fa-check'></i>" cancel-text="No" on-confirm="save('approved')" confirm-button-type="danger" cancel-button-type="default" style="position:relative;top:30px;right:-15px;cursor:pointer;">Approve</button>
      <button type="button" class="btn btn-danger" style="width:100%" mwl-confirm title="Confirm" message="Are you sure?" confirm-text="Yes <i class='fa fa-check'></i>" cancel-text="No" on-confirm="save('rejected')" confirm-button-type="danger" cancel-button-type="default" style="position:relative;top:30px;right:-15px;cursor:pointer;">Rejected</button> -->
    </div>

  </div>
