<div class="col-md-3" style="padding:10px" ng-if="data.status =='submitted' || data.status =='approved'">
  <div class="container-fluid card ">
    <div class="row">
      <div class="col-md-4">
        <img ng-src="{{data.user | getDP}}" style="width:100px;">
      </div>
      <div class="col-md-6">
        <h4>{{data.user | getName}}</h4>
        <span>{{data.date | date}}</span><br>
        <span><strong>Approved :</strong>{{data.approved? 'YES':'NO'}}</span><br>
        <strong>status:</strong> {{data.status}}
      </div>
      <div class="col-md-1 text-right">
        <span>#{{data.pk}}</span>
      </div>
      <div class="row container-fluid" style="padding-top:20px;height:70px;">
        <div class="col-md-2" style="margin-top:50px">
          <div style="padding-right:20px;">
            <div class="row">
              <span class="pull-right" style="cursor:pointer;">
            <i class="fa fa-info-circle fa-3x" style="margin-top:0px;" ng-click="rowActionClicked('sheet')"></i>
          </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
