<div class="col-md-3" style="padding:5px">
  <div class="container-fluid card " style="padding-bottom:10px;">
    <div class="row" style="border-bottom: 1px solid #dedede;">
      <div class="col-md-12" style="position:relative;display:block;">
        <div class="row" style="padding-left:30px;">
          <h3>{{data.user | getName}}</h3>
          <span><strong> From Date :</strong> {{data.fromDate | date}}</span><br>
          <span><strong> To Date : </strong> {{data.toDate | date}}</span><br>
          <span><strong> Total Days : </strong> {{data.days}}</span><br><br>
        </div>
      </div>
    </div>
    <div class="row container-fluid" style="padding-top:20px;height:70px;">
      <div class="col-md-10">
        <span ng-if="data.category == 'AL'"><strong>category :</strong> Annual Leave</span>
        <span ng-if="data.category == 'ML'"><strong>category :</strong> Medical Leave</span>
        <span ng-if="data.category == 'casual'"><strong>category :</strong> Casual Leave</span><br>
        <strong>approvedStage :</strong> {{data.approvedStage}} <br>
        <strong>approvedMatrix :</strong> {{data.approvedMatrix}} <br>
      </div>
      <div class="col-md-2">
        <div style="padding-right:20px;">
          <div class="row">
            <span class="pull-right" style="cursor:pointer;">
            <i class="fa fa-info-circle fa-3x" style="margin-top:0px;" ng-click="rowActionClicked('info')"></i>
          </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
