{% extends "base.html" %} {% load staticfiles %} {% block specific_head %}
<title>Monomerce.com , Realtime inventory , Point of Sale systems in India</title>

<meta name="description" content="One stop solution for your inventory mismatch problems. Get latest and fastest inventory update system ever"/>
<link rel="canonical" href="https://monomerce.com/" />
<link rel="publisher" href="https://plus.google.com/b/105723801328437605094/"/>
<meta property="og:locale" content="en_US" />
<meta property="og:type" content="website" />
<meta property="og:title" content="Monomerce.com , Realtime inventory , Point of Sale systems in India" />
<meta property="og:description" content="One stop solution for your inventory mismatch problems. Get latest and fastest inventory update system ever" />
<meta property="og:url" content="https://monomerce.com" />
<meta property="og:site_name" content="24 Tutors" />
<meta property="og:updated_time" content="2018-04-01T07:17:53+00:00" />
<meta property="og:image" content="https://monomerce.com/static/images/seo_tutor_common.png" />
<meta property="og:image:secure_url" content="https://monomerce.com/static/images/seo_tutor_common.png" />
<meta property="og:image:width" content="1024" />
<meta property="og:image:height" content="719" />
<meta name="twitter:card" content="summary" />
<meta name="twitter:description" content="One stop solution for your inventory mismatch problems. Get latest and fastest inventory update system ever" />
<meta name="twitter:title" content="Monomerce.com , Realtime inventory , Point of Sale systems in India" />
<meta name="twitter:site" content="@tutors_24" />
<meta name="twitter:image" content="https://monomerce.com/static/images/seo_tutor_common.png" />
<meta name="twitter:creator" content="@tutors_24" />

<meta property="article:author" content="24Tutors.com" />
<link rel="icon" href="/static/images/tutor.ico" type="image/gif" sizes="16x16">
{% endblock %} {% block specific_css %}
<link href="{% static 'css/agency.css' %}" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/animate.css' %}" charset="utf-8"> {% endblock %} {% block header %} {% include "header.html" %} {% endblock %}
<!-- Header -->
{% block content %}
<div>
  <div class="container-fluid" style="padding-left:0px;padding-right:0px;">
    <header style="background: url('/static/images/blog_banner.jpg') no-repeat top center/cover;height:40vh;width:100%;">
      <div class="container" style="overflow:hidden;">
        <div style="text-align:center;">

        </div>
      </div>
    </header>
  </div>
  <!-- Services Section -->
  <div class="body">
    <div class="container" style="padding-left:0px;padding-right:0px;box-shadow: 0px 30px 50px 12px #d0d5dd;">
      {% if dataLen == 0 %}
        <div class="row text-center">
          <h3>No blog posts , Please visit again.</h3>
        </div>
      {% endif %}

      {% for a in data %}

      <div class="container-fluid" style="{% if forloop.counter|divisibleby:2 %}background:#eeeeee;{% endif %}">
        <section style="padding-top: 20px;padding-bottom: 30px;">

          <div class="row">
            <div class="col-md-12 text-left" style="margin-left: 40px;margin-right: 10px">
              <h2 style="font-size:19px;" class="text-primary"> <a href = "/{{a.url}}/ ">  {{a.title}} </a></h2>
              By {{a.user}} <span style="margin-left: 10px;"> | </span> <span style="margin-left: 10px;">{{a.date}}</span>
            </div>
          </div>
          <div class="container-fluid" style="margin-left:40px;margin-right: 10px;padding:0px;margin-top:15px;">
            {{a.header | safe}}
          </div>
        </section>
      </div>
      {% endfor %}

      <div class='pages' style='text-align:center'>
        <div class='pagesbtn'>
        {% if pages.currentpage != pages.first %}
          <a href="/blog/">
            <div class="btn btn-primary">First</div><a>
          <a href="/blog/?page={{ pages.prev }}"><div class="btn btn-primary">Prev</div><a>
        {% endif %}
        {% if pages.currentpage != pages.last and pages.last > pages.first %}
          <a href="/blog/?page={{ pages.next }}"><div class="btn btn-primary">Next</div><a>
          <a href="/blog/?page={{ pages.last }}"><div class="btn btn-primary">Last</div><a>
        {% endif %}

        </div>
      </div><br> {% endblock %} {% block footer %} {% include "footer.html" %}
    </div>
  </div>
</div>




{% endblock %} {% block specific_js %}
<script src="{% static 'js/jquery.easing.min.js' %}"></script>
<script src="{% static 'js/classie.js' %}"></script>
<!-- <script src="{% static 'js/cbpAnimatedHeader.js' %}"></script> -->

<script src="{% static 'js/agency.js' %}"></script>
<script src="{% static 'js/angular.min.js' %}"></script>
<script src="{% static 'js/angular-ui-router.min.js' %}"></script>
<script src="{% static 'js/angular-sanitize.min.js' %}"></script>
<script src="{% static 'js/app.homepage.js' %}"></script>

{% endblock %}
