{% extends "base.html" %} {% load staticfiles %} {% block specific_head %}

<title>{{blogobj.title}}</title>

<meta property="og:locale" content="en_US" />
<meta property="og:type" content="article" />
<meta property="og:site_name" content="24 Tutors" />
<meta property="article:author" content="{{user}}" />
{% for tag in tagsCSV %}
<meta property="article:tag" content="{{tag}}" />{% endfor %}
<meta property="article:section" content="{{blogobj.section}}" />
<meta name="twitter:card" content="summary" />
<meta property="article:published_time" content="{{blogobj.created.isoformat}}" />
<meta property="article:modified_time" content="{{blogobj.created.isoformat}}" />
<meta property="og:updated_time" content="{{blogobj.created.isoformat}}" />
<meta property="og:image:width" content="6833" />
<meta property="og:image:height" content="1750" />
<meta name="description" content="{{blogobj.description}}"/>
<meta property="og:description" content="{{blogobj.description}}" />
<meta name="twitter:description" content="{{blogobj.description}}" />
<link rel="canonical" href="{{ request.build_absolute_uri }}" />
<meta property="og:url" content="{{ request.build_absolute_uri }}" />
<link rel="publisher" href="https://plus.google.com/b/105723801328437605094/"/>
<meta property="article:publisher" content="https://www.facebook.com/24tutorsIndia/" />
<meta name="twitter:title" content="{{blogobj.title}}" />
<meta property="og:title" content="{{blogobj.title}}" />
<meta property="og:image:secure_url" content="https://{{ request.get_host }}{{blogobj.ogimage.url}}" />
<meta property="og:image" content="https://{{ request.get_host }}{{blogobj.ogimage.url}}" />
<meta name="twitter:image" content="https://{{ request.get_host }}{{blogobj.ogimage.url}}" />
<meta name="twitter:site" content="@tutors_24" />
<meta name="twitter:creator" content="@tutors_24" />


{% endblock %} {% block specific_css %}
<link href="{% static 'css/agency.css' %}" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/animate.css' %}" charset="utf-8"> {% endblock %} {% block header %}

{% include "header.html" %}

{% endblock %}
<!-- Header -->
{% block content %}
<div>
  <div class="container-fluid" style="padding-left:0px;padding-right:0px;">
    <header style="background: url('/static/images/blog_banner.jpg') no-repeat top center/cover;height:40vh;width:100%;">
      <div class="container" style="overflow:hidden;">
        <div style="text-align:center;">
          <!-- <div class="intro-lead-in" style="font-size:100px;padding-right:53px;margin-top:45px;color:#0b5e8c;">Blogs</div> -->

        </div>
      </div>
    </header>
  </div>
  <!-- Services Section -->
  <div class="body">
    <div class="container"  style="padding-left:0px;padding-right:0px;box-shadow: 0px 30px 50px 12px #d0d5dd;">

        <div class="container-fluid">
          <section style="padding-top: 20px;padding-bottom: 30px;">

            <div class="row" style="padding:20px">
              <div class="col-md-9 text-left">
                <h2 style="font-size:19px;" class="text-primary">{{blogobj.title}}</h2>
                By {{user}} <span style="margin-left: 10px;"> | </span> <span style="margin-left: 10px;">{{blogobj.created}}</span>
              </div>
              <div class="col-md-3">
                <a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}" class="btn btn-primary pull-right" style="background:rgb(31, 116, 215);" target="_blank">
                  <i class="fa fa-facebook"></i>  Share
                </a>
              </div>
            </div>
            <div class="container-fluid" style="padding:20px">
              {{blogobj.header | safe}}
              <div class="row">
                <div class="col-lg-12 ">
                  {{blogobj.body | safe}}
                </div>
              </div>
            </div>

            <div class="row text-center">
              <div class="fb-comments" data-href="{{ request.build_absolute_uri }}" data-width="900" data-numposts="5"></div>
            </div>
          </section>
        </div>



      {% endblock %} {% block footer %}
      {% include "footer.html" %}
    </div>
  </div>
</div>




{% endblock %} {% block specific_js %}
<script src="{% static 'js/jquery.easing.min.js' %}"></script>
<script src="{% static 'js/classie.js' %}"></script>
<!-- <script src="{% static 'js/cbpAnimatedHeader.js' %}"></script> -->

<script src="{% static 'js/agency.js' %}"></script>
<script src="{% static 'js/angular.min.js' %}"></script>
<script src="{% static 'js/angular-ui-router.min.js' %}"></script>
<script src="{% static 'js/angular-sanitize.min.js' %}"></script>
<script src="{% static 'js/app.homepage.js' %}"></script>

{% endblock %}
