<footer style="background-color: #eeeeee;">
  <div class="container">
    <div class="row">
      <div class="col-md-6 text-left">
        <span class="copyright">Copyright &copy; CIOC FMCG Pvt Ltd 2017</span>
      </div>
      <div class="col-md-6 text-right">
        <ul class="list-inline quicklinks">
          <li><a href="/desclaimer">Disclaimer and IP</a>
          </li>
          <li><a href="/policy">Privacy Policy</a>
          </li>
          <li><a href="/terms">Terms of Use</a>
          </li>
          <li><a href="/refund">Refund and Cancellation Policy </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
        <ul class="list-inline social-buttons">
          <li class="facebook"><a href="https://www.facebook.com/Monomerce-357485684752172/"><i class="fa fa-facebook"></i></a>
          </li>
          <li class="linkedin"><a href="https://www.linkedin.com/company/monomerce/"><i class="fa fa-linkedin"></i></a>
          </li>
          <!-- <li class="instagram"><a href="#"><i class="fa fa-instagram"></i></a>
          </li> -->
          <li class="youtube"><a href="https://www.youtube.com/channel/UC-8t6q5sQZkvOEb6Ey2oP8g"><i class="fa fa-youtube-play"></i></a>
          </li>
          <!-- <li class="google"><a href="#"><i class="fa fa-google-plus"></i></a>
          </li> -->
        </ul>
      </div>
    </div>
  </div>
</footer>
