{% extends "base.html" %} {% load staticfiles %} {% block specific_head %}{% load socialaccount %}
<title>24Tutors.com - Login to start online one to one science classes</title>

<meta name="description" content="India's only 24x7 student helpline. Connect with the best tutors from IITs and NITs provide teaching for CBSE & ICSE, Maths & Science and competitive exams like  JEE Mains, JEE Advanced, IIT Foundation, Olympiads, NTSE, PSA"/>
<link rel="canonical" href="https://24tutors.com/" />
<link rel="publisher" href="https://plus.google.com/b/105723801328437605094/"/>
<meta property="og:locale" content="en_US" />
<meta property="og:type" content="website" />
<meta property="og:title" content="Online live tutoring. Free 1-2-1 online classes. IIT JEE Preparation. School tutions online" />
<meta property="og:description" content="India's only 24x7 student helpline. Connect with the best tutors from IITs and NITs provide teaching for CBSE & ICSE, Maths & Science and competitive exams like  JEE Mains, JEE Advanced, IIT Foundation, Olympiads, NTSE, PSA" />
<meta property="og:url" content="https://24tutors.com" />
<meta property="og:site_name" content="24 Tutors" />
<meta property="og:updated_time" content="2018-04-01T07:17:53+00:00" />
<meta property="og:image" content="https://24tutors.com/static/images/seo_tutor_common.png" />
<meta property="og:image:secure_url" content="https://24tutors.com/static/images/seo_tutor_common.png" />
<meta property="og:image:width" content="1333" />
<meta property="og:image:height" content="745" />
<meta name="twitter:card" content="summary" />
<meta name="twitter:description" content="India's only 24x7 student helpline. Connect with the best tutors from IITs and NITs provide teaching for CBSE & ICSE, Maths & Science and competitive exams like  JEE Mains, JEE Advanced, IIT Foundation, Olympiads, NTSE, PSA" />
<meta name="twitter:title" content="Online live tutoring. Free 1-2-1 online classes. IIT JEE Preparation. School tutions online" />
<meta name="twitter:site" content="@tutors_24" />
<meta name="twitter:image" content="https://24tutors.com/static/images/seo_tutor_common.png" />
<meta name="twitter:creator" content="@tutors_24" />

<meta property="article:author" content="24Tutors.com" />
<link rel="icon" href="/static/images/tutor.ico" type="image/gif" sizes="16x16">
{% endblock %} {% block specific_css %}
<link href="{% static 'css/agency.css' %}" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/animate.css' %}" charset="utf-8"> {% endblock %} {% block header %}

{% include "header.html" %}

{% endblock %}
{% block content %}
<div ng-app="app" ng-controller="main">
  <div class="body">
    <div class="container" style="padding-left:0px;padding-right:0px;box-shadow: 0px 30px 50px 12px #d0d5dd;">
      <!-- <section style="background: url('/static/images/login_banner.jpg') no-repeat top center/cover;height:100px;">
      </section> -->
      <section style="padding: 0px 0;">
        <div class="container" >
          <div class="row">
            <div class="col-md-6" style="background:linear-gradient(90deg,rgb(193, 193, 193), rgba(255,0,0,0));height: 700px;padding-top:150px;">
              <div class="row text-center" style="margin-bottom:40px;">
                <h2 class="section-heading" style="color: #fff;margin-bottom:0px">Login</h2>
                <img src="/static/images/bottom-border.png" alt="">
              </div>
              <div class="row">
                <form action="" method="post" style="padding-left: 50px;padding-right: 50px;">
                  {% csrf_token %}

                  {% if authStatus.status != 'default' %}
                  <div class="alert alert-{{authStatus.status}}">{{authStatus.message}}</div>
                  {% endif %}


                  <div class="row" style="margin-bottom:15px;">
                    <div class="col-md-12">
                      <div class="row">
                        <div class="col-md-1 col-sm-1 col-xs-1">
                          <span><i class="fa fa-envelope" style="margin-top: 45px;font-size: 20px;color:#147fcc"></i></span>
                        </div>
                        <div class="col-md-11 col-sm-11 col-xs-11">
                          <div class="form-group">
                            <input type="text" class="form-control" style="border:1px solid #7b7e84;border-radius:0px;border-left:none;border-right:none;border-top:none !important;box-shadow: inset 0 1px 1px rgba(251, 247, 247, 0.1);padding-bottom: 0px;margin-top: 30px;padding-left:0px;background-color:#fff0;" required  name="username"/>
                            <span class="floating-label">Email *</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="row">
                        <div class="col-md-1 col-sm-1 col-xs-1">
                          <span>
                            <i class="fa fa-lock" style="margin-top: 45px;font-size: 25px;color:#147fcc"></i>
                          </span>
                        </div>
                        <div class="col-md-11 col-sm-11 col-xs-11">
                          <div class="form-group">
                            <input type="password" class="form-control" style="border:1px solid #7b7e84;border-radius:0px;border-left:none;border-right:none;border-top:none !important;box-shadow: inset 0 1px 1px rgba(251, 247, 247, 0.1);padding-bottom: 0px;margin-top: 30px;padding-left:0px;background-color:#fff0;" required name="password"/>
                            <span class="floating-label">Password *</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="clearfix"></div>
                  <div class="col-lg-12 text-center">
                    <button type="submit" class="btn btn-success">Submit</button>
                  </div>
                </form>


              </div>

              <div class="row text-center" style="padding:40px;">
                <a style="color:#ff7033;" href="/accounts/password/reset/">Forgot password?</a>
                <a style="color:#1fd456;margin-left:40px;" href="/register">New User? Register</a>
              </div>

            </div>

            <div class="col-md-6" style="padding:0px;">
              <div style="padding:30px;padding-top:200px;">
                <div class="row">
                  <div class="row" style="margin-bottom:15px;">
                    <div class="col-md-12">
                      <div class="col-lg-12 text-center">
                        <a href="{% provider_login_url "facebook" method="oauth2" %}" class="btn btn-xl2">
                           <i class="fa fa-facebook"></i> Facebook
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="col-lg-12 text-center">

                        <a title="Google" class="btn btn-xl3" href="{% provider_login_url "google" method="oauth2" %}">
                          <i class="fa fa-google"></i>  Gmail

                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>

      </section>
      <section style="background: url('/static/images/login_banner.jpg') no-repeat top center/cover;max-height:150px;">
      </section>

      {% endblock %} {% block footer %}
      {% include "footer.html" %}

    </div>
  </div>
</div>



{% endblock %} {% block specific_js %}
<script src="{% static 'js/jquery.easing.min.js' %}"></script>
<script src="{% static 'js/classie.js' %}"></script>
<!-- <script src="{% static 'js/cbpAnimatedHeader.js' %}"></script> -->

<script src="{% static 'js/agency.js' %}"></script>
<script src="{% static 'js/angular.min.js' %}"></script>
<script src="{% static 'js/angular-ui-router.min.js' %}"></script>
<script src="{% static 'js/angular-sanitize.min.js' %}"></script>
<script src="{% static 'js/app.homepage.js' %}"></script>

{% endblock %}
