<div class="container" style="padding-left:0px;padding-right:0px;">
  <div class="container-fluid">
    <div id="generic_price_table">
     <div class="container-fluid">
       <div class="row">
         <div class="col-md-4">
           <div class="generic_content active clearfix">
             <div class="generic_head_price clearfix">
                <div class="generic_head_content clearfix">
                    <!-- <div class="head_bg"></div> -->
                     <div class="headb"></div>
                       <div class="head">
                          <span>Basic</span>
                       </div>
                     </div>
                     <div class="generic_price_tag clearfix">
                       <span class="price">
                         <span class="sign"> <i class="fa fa-inr"></i> </span>
                         <span class="currency">2500</span>
                         <!-- <span class="cent">.00</span> -->
                         <span class="month">/Month</span>
                       </span>
                     </div>
                   </div>
                   <div class="generic_feature_list">
                     <ul>
                       <li><span>1</span> Account</li>
                       <li><span>Upto 1000</span> Products</li>
                       <li><span>Web Only</span></li>
                       <li><span>5 Hours/Month</span> Support</li>
                     </ul>
                   </div>
                   <div class="generic_feature_list" style="padding:10px">
                     <button type="button" class="btn" style="background:#0066cc;color:white;" ng-click="buy(0)">Contact us</button>
                   </div>
                 </div>
               </div>
               <div class="col-md-4">
                 <div class="generic_content active clearfix">
                   <div class="generic_head_price clearfix">
                     <div class="generic_head_content clearfix">
                       <div class="head_bg"></div>
                       <div class="head">
                         <span>Standard</span>
                       </div>
                     </div>
                     <div class="generic_price_tag clearfix">
                       <span class="price">
                         <span class="sign"><i class="fa fa-inr"></i></span>
                         <span class="currency">3500</span>
                         <!-- <span class="cent">.99</span> -->
                         <span class="month">/Month</span>
                       </span>
                     </div>
                   </div>
                   <div class="generic_feature_list">
                     <ul>
                       <li><span>4</span> Accounts</li>
                       <li><span>Upto 3000</span> Products</li>
                       <li><span>Android app</span></li>
                       <li><span>10 Hours/Month</span> Support</li>
                     </ul>
                   </div>
                   <div class="generic_feature_list" style="padding:10px">
                     <button type="button" class="btn btn-warning" ng-click="buy(1)">Contact us</button>
                   </div>
                 </div>
               </div>
               <div class="col-md-4">
                 <div class="generic_content active clearfix">
                   <div class="generic_head_price clearfix">
                     <div class="generic_head_content clearfix">
                       <div class="head_b"></div>
                       <div class="head">
                         <span>Premium</span>
                       </div>
                     </div>
                     <div class="generic_price_tag clearfix">
                       <span class="price">
                         <span class="sign"><i class="fa fa-inr"></i></span>
                         <span class="currency">4500</span>
                         <!-- <span class="cent">.99</span> -->
                         <span class="month">/Month</span>
                       </span>
                     </div>
                   </div>
                   <div class="generic_feature_list">
                     <ul>
                       <li><span>Unlimited</span> Accounts</li>
                       <li><span>Unlimited</span> Products</li>
                       <li><span>Android and iOS apps</span></li>
                       <li><span>30 Hours/Month</span> Support</li>
                     </ul>
                   </div>
                   <div class="generic_feature_list" style="padding:10px">
                     <button type="button" class="btn btn-success" ng-click="buy(2)">Contact us</button>
                   </div>
                     <!-- div class="generic_price_btn clearfix">
                       <a class="" href="">Sign up</a>
                     </div> -->
                 </div>
               </div>
            </div>
         </div>
       </div>
     </div>
   </div>
