{% extends "base.html" %} {% load staticfiles %} {% block specific_head %}
<title>Refund policy</title>

<meta name="description" content="India's only 24x7 student helpline. Connect with the best tutors from IITs and NITs provide teaching for CBSE & ICSE, Maths & Science and competitive exams like  JEE Mains, JEE Advanced, IIT Foundation, Olympiads, NTSE, PSA"/>
<link rel="canonical" href="https://24tutors.com/" />
<link rel="publisher" href="https://plus.google.com/b/105723801328437605094/"/>
<meta property="og:locale" content="en_US" />
<meta property="og:type" content="website" />
<meta property="og:title" content="Online live tutoring. Free 1-2-1 online classes. IIT JEE Preparation. School tutions online" />
<meta property="og:description" content="India's only 24x7 student helpline. Connect with the best tutors from IITs and NITs provide teaching for CBSE & ICSE, Maths & Science and competitive exams like  JEE Mains, JEE Advanced, IIT Foundation, Olympiads, NTSE, PSA" />
<meta property="og:url" content="https://24tutors.com" />
<meta property="og:site_name" content="24 Tutors" />
<meta property="og:updated_time" content="2018-04-01T07:17:53+00:00" />
<meta property="og:image" content="https://24tutors.com/static/images/seo_tutor_common.png" />
<meta property="og:image:secure_url" content="https://24tutors.com/static/images/seo_tutor_common.png" />
<meta property="og:image:width" content="1333" />
<meta property="og:image:height" content="745" />
<meta name="twitter:card" content="summary" />
<meta name="twitter:description" content="India's only 24x7 student helpline. Connect with the best tutors from IITs and NITs provide teaching for CBSE & ICSE, Maths & Science and competitive exams like  JEE Mains, JEE Advanced, IIT Foundation, Olympiads, NTSE, PSA" />
<meta name="twitter:title" content="Online live tutoring. Free 1-2-1 online classes. IIT JEE Preparation. School tutions online" />
<meta name="twitter:site" content="@tutors_24" />
<meta name="twitter:image" content="https://24tutors.com/static/images/seo_tutor_common.png" />
<meta name="twitter:creator" content="@tutors_24" />

<meta property="article:author" content="24Tutors.com" />
<link rel="icon" href="/static/images/tutor.ico" type="image/gif" sizes="16x16">
{% endblock %} {% block specific_css %}
<link href="{% static 'css/agency.css' %}" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/animate.css' %}" charset="utf-8"> {% endblock %} {% block header %}

{% include "header.html" %}

{% endblock %}
<!-- Header -->
{% block content %}
<div ng-app="app" ng-controller="main">
  {% verbatim %}


  <!--/chatbox-->




  {% endverbatim %}
  <!-- Services Section -->
  <div class="body">
    <div class="container" style="padding-left:0px;padding-right:0px;box-shadow: 0px 30px 50px 12px #d0d5dd;">
      <div class="container-fluid">
        <section>
          <div class="row text-center">
            <h2>Refund and Cancellation Policy </h2>
          </div>
          <div class="container-fluid" style="margin-left:40px;padding:0px">
            <p>Our focus is complete customer satisfaction. In the event, if you are displeased with the services provided, we will refund back the money, provided the reasons are genuine and proved after investigation. Please read the fine prints of each deal before buying it, it provides all the details about the services or the product you purchase.<br> In case of dissatisfaction from our services, clients have the liberty to cancel their projects and request a refund from us. Our Policy for the cancellation and refund will be as follows:</p><br><br>
            <h4>Cancellation Policy</h4>
            <p>For Cancellations please contact the us via contact us link.<br>
            Requests received later than 5 business days prior to the end of the current service period will be treated as cancellation of services for the next service period. </p><br><br>
            <h4>Refund Policy</h4>
            <ul>
              <li>
                In case any client is not completely satisfied with our products we can provide a refund.
              </li>
              <li>
                If paid by credit card, refunds will be issued to the original credit card provided at the time of purchase and in case of payment gateway name payments refund will be made to the same account.
              </li>
            </ul>
          </div>
        </section>
      </div>

      {% endblock %} {% block footer %}
      {% include "footer.html" %}

    </div>
  </div>
</div>




{% endblock %} {% block specific_js %}
<script src="{% static 'js/jquery.easing.min.js' %}"></script>
<script src="{% static 'js/classie.js' %}"></script>
<!-- <script src="{% static 'js/cbpAnimatedHeader.js' %}"></script> -->

<script src="{% static 'js/agency.js' %}"></script>
<script src="{% static 'js/angular.min.js' %}"></script>
<script src="{% static 'js/angular-ui-router.min.js' %}"></script>
<script src="{% static 'js/angular-sanitize.min.js' %}"></script>
<script src="{% static 'js/app.homepage.js' %}"></script>

{% endblock %}
