<div class="container" style="padding-left:0px;padding-right:0px;">
  <div class="container-fluid">
    <div id="generic_price_table">
     <div class="container-fluid">
       <div class="row">
         <div class="col-md-4">
           <div class="generic_content active clearfix">
             <div class="generic_head_price clearfix">
                <div class="generic_head_content clearfix">
                    <!-- <div class="head_bg"></div> -->
                     <div class="headb"></div>
                       <div class="head">
                          <span>Class 6-10</span>
                       </div>
                     </div>
                     <div class="generic_price_tag clearfix">
                       <span class="price">
                         <span class="sign"> <i class="fa fa-inr"></i> </span>
                         <span class="currency">100</span>
                         <!-- <span class="cent">.00</span> -->
                         <span class="month">/Hour</span>
                       </span>
                     </div>
                   </div>
                   <div class="generic_feature_list">
                     <ul>
                       <li><span>All </span> Subjects</li>
                       <li><span>All</span> Topics</li>
                       <li><span>10 Online Mock tests</span></li>
                     </ul>
                   </div>
                   <div class="generic_feature_list" style="padding:10px">
                     <a href="/register" type="button" class="btn" style="background:#0066cc;color:white;">Buy Now</a>
                   </div>
                 </div>
               </div>
               <div class="col-md-4">
                 <div class="generic_content active clearfix">
                   <div class="generic_head_price clearfix">
                     <div class="generic_head_content clearfix">
                       <div class="head_bg"></div>
                       <div class="head">
                         <span>Class 11-12</span>
                       </div>
                     </div>
                     <div class="generic_price_tag clearfix">
                       <span class="price">
                         <span class="sign"><i class="fa fa-inr"></i></span>
                         <span class="currency">125</span>
                         <!-- <span class="cent">.99</span> -->
                         <span class="month">/Hour</span>
                       </span>
                     </div>
                   </div>
                   <div class="generic_feature_list">
                     <ul>
                       <li><span>Physics , Maths, Chemistry </span></li>
                       <li><span>All</span> Topics</li>
                       <li><span>10 Online Mock tests</span></li>
                     </ul>
                   </div>
                   <div class="generic_feature_list" style="padding:10px">
                     <a href="/register" type="button" class="btn btn-warning">Buy Now</a>
                   </div>
                 </div>
               </div>
               <div class="col-md-4">
                 <div class="generic_content active clearfix">
                   <div class="generic_head_price clearfix">
                     <div class="generic_head_content clearfix">
                       <div class="head_b"></div>
                       <div class="head">
                         <span>IIT JEE, AIIMS</span>
                       </div>
                     </div>
                     <div class="generic_price_tag clearfix">
                       <span class="price">
                         <span class="sign"><i class="fa fa-inr"></i></span>
                         <span class="currency">150</span>
                         <!-- <span class="cent">.99</span> -->
                         <span class="month">/Hour</span>
                       </span>
                     </div>
                   </div>
                   <div class="generic_feature_list">
                     <ul>
                       <li><span>Physics , Maths, Chemistry </span></li>
                       <li><span>All</span> Topics</li>
                       <li><span>10 Online Mock tests</span></li>
                       <!-- <li><span>30 Hours/Month</span> Support</li> -->
                     </ul>
                   </div>
                   <div class="generic_feature_list" style="padding:10px">
                     <a href="/register" type="button" class="btn btn-success">Buy Now</a>
                   </div>
                     <!-- div class="generic_price_btn clearfix">
                       <a class="" href="">Sign up</a>
                     </div> -->
                 </div>
               </div>
            </div>
         </div>
       </div>
     </div>
   </div>
