<div class="modal-header bg-blue" id="aside" style="height:10vh;padding-top:8px;">
  <div class="col-md-8">{{inv}}
    <strong>Description</strong> : {{invoice.description}} <br>
    <strong>Code</strong> : {{invoice.code}} <br>
    <strong>Dated </strong> : {{invoice.dated | date: 'dd-MMM-yyyy'}}  <br>
    <strong>Submitted On </strong> : {{invoice.created | date: 'dd-MMM-yyyy : hh:mm a'}}  <br>
  </div>
  <div class="col-md-2" style="padding-top:20px;">
    <span class="pull-right" style="font-size:20px;">Cost :  <i class="fa fa-{{invoice.currency == 'INR' ? 'inr':'usd'}}"></i> {{invoice.amount}}</span>
  </div>
  <div class="col-md-2" style="padding-top:18px;">
    <switch ng-model="invoice.approved" class="green pull-right"></switch><span class="pull-right" style="margin-top:10px;margin-right:20px;">Approval :</span>
  </div>
</div>
<div class="modal-body" style="position:relative;padding:0px;">
  <div style="position:absolute;top:0px;width:100%;height:90vh;overflow:auto">
    <object ng-if="invoice.attachment.substring(invoice.attachment.length -3 , invoice.attachment.length) == 'pdf'" ng-attr-data="{{invoice.attachment}}" style="width:100%;height:89vh;"></object>
    <object ng-if="invoice.attachment.substring(invoice.attachment.length -3 , invoice.attachment.length) != 'pdf'" ng-attr-data="{{invoice.attachment}}" style="width:100%;"></object>
  </div>
</div>
