<div class="col-md-6" style="padding-bottom:10px;padding-left:10px;padding-right:10px;" >
  <div class="container-fluid card" style="padding:30px;padding-top:0px;">
    <div class="row">
        <div class="col-md-12">
          <h4>{{data.title}}</h34>
        </div>
      </div>
      <div class="row">
          <div class="col-md-12">
              {{data.description}}
              <hr>
          </div>
        </div>
        <!-- <i class="fa fa-info-circle fa-3x text-primary pull-right" ng-click="rowActionClicked('archieveBrowser')" style="position:absolute;right:40px;top:17px;cursor:pointer;"></i> -->
    <div class="row" style="position:relative;">
        <i class="fa fa-info-circle fa-2x text-primary pull-right" style="position:absolute;right:20px;bottom:-10px;cursor:pointer;"ng-click="rowActionClicked('archieveBrowser')"></i>
    </div>
  </div>
</div>
