<div class="modal-header">
  Create a file cache
</div>

<div class="modal-body" ng-controller="businessManagement.tools.fileCache.new">
  <div class="container-fluid">
    <div class="form-group">
      <label>File</label>
      <input type="file" file-model="form.attachment">
    </div>
    <div class="form-group">
      <label>Api Key</label>
      <input type="text" class="form-control" ng-model="form.apiKey">
    </div>
    <button type="button" class="btn btn-primary" ng-click="save()">Create</button>
  </div>
</div>
 
