<div class="container-fluid" style="padding-top:20px;" ng-controller="businessManagement.tools.apiAccounts.explore">

  <span class="text-muted" >Api Key : </span>{{account.apiKey}}

  <table class="table table-bordered" style="margin-top:10px;">
    <thead>
      <tr>
        <th>Account ID</th>
        <th>Email</th>
        <th>Active</th>
        <th>Created</th>
        <th>Usage remaining</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{account.pk}}</td>
        <td>{{account.email}}</td>
        <td><switch ng-model="account.active" class="green"></switch></td>
        <td>{{account.created | date:'dd-mm-yy'}}</td>
        <td>{{account.remaining}} <button type="button" class="btn btn-sm btn-primary pull-right" name="button" ng-click="addUsage()">Add</button></td>
      </tr>
    </tbody>
  </table>

  <h3 class="text-muted">Account logs</h3>

  <generic-Table data="data.tableData" config-Obj="{{config}}" ></generic-Table>

</div>
