<div class="modal-header">
  Add usage quota
</div>

<div class="modal-body">
  <div class="container-fluid">
    <span class="text-muted">Available usage :</span> {{account.remaining}}
    <div class="form-group" style="margin-top:20px;">
      <label>Usage count</label>
      <input type="text" class="form-control" ng-model="form.usageToAdd">
    </div>
    <div class="form-group">
      <label>Reference ID</label>
      <input type="text" class="form-control" ng-model="form.referenceID">
    </div>
    <button type="button" class="btn btn-primary" ng-click="update()">Update</button>
  </div>
</div>
