<div class="shaddowed card bg-white" style="min-height:93vh;">

  <breadcrumb></breadcrumb>

  <div class="col-md-2">
    <div class="row text-center" style="margin-top:50px;">

      <div class="col-md-8">
        <img src="/static/images/monthicon.png" class="img" style="width:80px;height:80px;" alt="">
      </div>
      <div class="col-md-4">
        <label>Month</label>
        <input ng-model="graphForm.graphType" type="radio" name="type" value="month">
      </div>
    </div>


    <div class="row text-center" style="margin-top:50px;">

      <div class="col-md-8">
        <img src="/static/images/weekicon.png" class="img" style="width:80px;height:80px;" alt="">
      </div>
      <div class="col-md-4">
        <label>Week</label>
        <input ng-model="graphForm.graphType" type="radio" name="type" value="week">
      </div>
    </div>


    <div class="row text-center" style="margin-top:50px;">
      <div class="col-md-8">
        <img src="/static/images/dayicon.jpg" class="img" style="width:80px;height:80px;" alt="">
      </div>
      <div class="col-md-4">
        <label>Day</label>
        <input ng-model="graphForm.graphType" type="radio" name="type" value="day">
      </div>
    </div>


  </div>



  <div class="col-md-8 col-md-offset-1" style="margin-top:30px;">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-4">
            <div class="small-box bg-blue" style="height:120px;">
              <div class="inner">
                <h3>{{stats.amazon}}</h3>
                <p>New Orders</p>
              </div>
              <div class="icon">
                <img src="/static/images/amazon.png" style="width:70px;">
              </div>
              <!-- <a href="#" class="small-box-footer">
              More info <i class="fa fa-arrow-circle-right"></i>
            </a> -->
            </div>
          </div>
          <div class="col-md-4">
            <div class="small-box bg-green" style="height:120px;">
              <div class="inner">
                <h3>{{stats.flipkart}}</h3>
                <!-- <h3>53<sup style="font-size: 20px">%</sup></h3> -->
                <p>New Orders</p>
              </div>
              <div class="icon">
                <img src="/static/images/flipkart.png" style="width:70px;">
              </div>
              <!-- <a href="#" class="small-box-footer">
              More info <i class="fa fa-arrow-circle-right"></i>
            </a> -->
            </div>
          </div>

          <div class="col-md-4">
            <div class="small-box bg-red" style="height:120px;">
              <div class="inner">
                <h3>{{stats.skinstore}}</h3>
                <p>New Orders</p>
              </div>
              <div class="icon">
                <span style="font-size:30px;color:#eeeeee;">theskinstore.in</span>
              </div>
              <!-- <a href="#" class="small-box-footer">
                More info <i class="fa fa-arrow-circle-right"></i>
              </a> -->
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="row">

      <div class="col-md-12">
        <canvas id="line" ng-if="graphForm.graphType != 'day'" class="chart chart-line" chart-data="trendData" chart-labels="labels" chart-series="series" chart-legend="true"  chart-click="onClick" style="width: 632px;height: 305px;">
        </canvas>
        <canvas id="bar" ng-if="graphForm.graphType == 'day'" class="chart chart-bar" chart-data="trendData" chart-labels="labels" chart-series="series" chart-legend="true"  chart-click="onClick" style="width: 632px;height: 305px;">
        </canvas>
      </div>
    </div>

  </div>

</div>
